body {
    font-family:"Noto Serif SC";
   padding:0px;
    margin:0px;
  }
  
  .container{

  }
  
  h1 {
    font-family:"Playfair Display";
    font-weight:400;
  }
  
  .subhead{
    
  }
  
  .feature{
    color:#AA23AD;

    
  }
  
  .footer{
    border-top:1px solid lightgrey;
  }

  .report{
      width:1000px;
      height:700px;
      border-radius:5px;
      margin:auto;
      box-shadow: 5px 5px 10px #888888;
      border:1px solid lightgrey;
      display:block;
      margin-top:-200px;

  }

  .bg-light-grey{
      background-color:#f3f3f3;
  }