body {
    font-family:"Noto Serif SC";
   padding:0px;
    margin:0px;
  }
  
  .container{

  }
  
  h1 {
    font-family:"Playfair Display";
    font-weight:400;
  }
  
  .subhead{
    
  }
  
  .feature{
    color:#AA23AD;

    
  }
  
  .footer{
    border-top:1px solid lightgrey;
  }