body {
	color: rgba(255,255,255,1.0);
	background-color: rgba(15,15,15,1.0);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: rgba(255,255,255,0.75);
}

a:hover {
	color: rgba(255,255,255,1.0);
}

.yak-nav {
	background-color: rgba(15,15,15,1.0);
}

.column-background {
	background-color: rgba(15,15,15,1.0);
}

input,
select {
	color: rgba(255,255,255,1.0);
	background-color: rgba(15,15,15,1.0);
	border-color: rgba(255,255,255,0.15);
}

footer {
	color: rgba(255,255,255,0.60);
	background-color: rgba(15,15,15,1.0);
	border-top-color: rgba(255,255,255,0.15);
}

#footer-slogan,
#footer-slogan:hover {
	color: rgba(255,255,255,0.60);
}

time,
details,
.details,
figcaption,
.author-bio,
.slide-author,
.collaborators,
.project-page-author {
	color: rgba(255,255,255,0.65);
}

a.yak-logo .yak-logo-image {
	content: url("/img/yak-logo-white.png");
}

.box-interior {
	background-color: rgba(15,15,15,1.0);
}

.member-box,
.image-border,
.project-box,
.project-box .hero,
.project-page-box,
.project-page-box .hero {
	border-color: rgba(255,255,255,0.15);
}

.member-box .silent-link,
.member-box .silent-link:hover,
.member-box .pseudo-link:hover,
.project-box .silent-link,
.project-box .silent-link:hover,
.project-box .pseudo-link:hover,
.project-page-box .silent-link,
.project-page-box .silent-link:hover,
.project-page-box .pseudo-link:hover {
	color: rgba(255,255,255,1.0);
}

.member-box .pseudo-link,
.project-box .pseudo-link,
.project-page-box .pseudo-link {
	color: rgba(255,255,255,0.75);
}

.member-box {
	color: rgba(255,255,255,0.70);
	background-color: rgba(15,15,15,1.0);
}

a.member-box {
	color: rgba(255,255,255,0.70);
}

.member-box .silent-link,
.member-box .silent-link:hover {
	color: rgba(255,255,255,0.70);
}

.lead-editors {
	color: rgba(255,255,255,1.0);
}

#markdown-toc,
.submit,
.footnotes {
	background-color: rgba(255,255,255,0.05);
}
