body {
	color: rgba(255,255,255,1.0);
	background-color: rgba(15,15,15,1.0);
}

.yak-nav,
.box-interior,
.yak-nav-wrapper,
.column-background {
	background-color: rgba(15,15,15,1.0);
}

input,
select {
	color: rgba(255,255,255,1.0);
	background-color: rgba(15,15,15,1.0);
	border-color: rgba(255,255,255,0.2);
}

footer {
	color: rgba(255,255,255,0.6);
	background-color: rgba(15,15,15,1.0);
	border-top-color: rgba(255,255,255,0.2);
}

a.yak-footer-square-link {
	color: rgba(255,255,255,0.8);
}

a.yak-footer-square-link:hover {
	color: rgba(255,255,255,1.0);
}

time,
details,
.details,
.yak-nav,
figcaption,
.author-bio,
.slide-author,
.collaborators,
.project-page-author {
	color: rgba(255,255,255,0.8);
}

a.yak-logo .yak-logo-image {
	content: url("/img/yak-logo-white.png");
}

.member-box,
.image-border,
.project-box,
.project-box .hero,
.project-page-box,
.project-page-box .hero,
.slide-deck-visible-anchor {
	border-color: rgba(255,255,255,0.2);
}

.lead-editors {
	color: rgba(255,255,255,1.0);
}

.submit,
.footnotes,
#markdown-toc {
	background-color: rgba(255,255,255,0.05);
}
