:root {
	--content-width: 36rem;
	--content-padding: 1.25rem;
}

html {
	z-index: -2;
}

body {
	font-family: "Noto Serif", Georgia, serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	z-index: -10;
}

a {
	color: inherit;
	opacity: 0.8;
}

a:hover {
	opacity: 1.0;
}

.fill-space {
	z-index: -9;
}

.column-background-wrapper {
	z-index: -8;
}

.column-background {
	width: min(var(--content-width) + (2 * var(--content-padding)), 100%);
	margin-left: auto;
	margin-right: auto;
}

#footer-slogan,
#footer-slogan:hover {
	text-decoration: none;
	opacity: 1.0
}

.small,
details,
.smaller,
figcaption,
.footnotes,
.page-info,
.slide-nav,
.author-bio,
#markdown-toc {
	font-size: 80%;
}

a.yak-logo .yak-logo-image {
	width: 2.5rem;
	height: 2.5rem
}

#yak-iframe-widget {
	max-width: 100% !important;
	height: calc(100% + 1rem); /* To cancel out the 1rem margin of the main <article/> */
}

.yak-content {
	position: relative;
}

.yak-content > *:not(.left-box):not(.right-box):not(.center-box):not(.full-bleed-box):not(#yak-network-map-container) {
	max-width: min(var(--content-width), 100% - (2 * var(--content-padding)));
	margin-left: auto;
	margin-right: auto;
}

.yak-content > *:last-child,
.yak-content > *:last-child > *:last-child,
.yak-content > *:last-child > *:last-child > *:last-child,
.yak-content > *:last-child > *:last-child > *:last-child > *:last-child {
	margin-bottom: 0;
}

.yak-content ol,
.yak-content ul {
	padding-inline-start: 2rem;
}

.yak-content blockquote {
	margin-inline-start: auto;
	margin-inline-end: auto;
	padding-inline-start: 3rem;
	padding-inline-end: 3rem;
}

.yak-content .left-box,
.yak-content .right-box,
.yak-content .center-box {
	display: block;
	width: min((1.5 * var(--content-width)) + (4 * var(--content-padding)), 100%);
	margin-top: calc(-1 * var(--content-padding));
	margin-bottom: calc(-1 * var(--content-padding));
	margin-left: auto;
	margin-right: auto;
}

.yak-content .left-box .box-interior,
.yak-content .right-box .box-interior,
.yak-content .center-box .box-interior {
	padding: var(--content-padding);
}

.yak-content .full-bleed-box,
.yak-page-project-slide .yak-slide-wrapper.full-bleed-box {
	display: block;
	margin-top: calc(-1 * var(--content-padding));
	margin-bottom: calc(-1 * var(--content-padding));
	width: 100%;
}

.yak-content .full-bleed-box .box-interior,
.yak-page-project-slide .yak-slide-wrapper.full-bleed-box .box-interior {
	padding: var(--content-padding) 0;
}

.yak-slide-wrapper.full-bleed-box {
	margin: 0;
}

.yak-slide-wrapper.full-bleed-box .box-interior {
	padding: 0;
}

.yak-content .box-interior .yak-content > * {
	max-width: 100% !important;
}

.yak-content .box-interior .wide > * {
	max-width: min((1.5 * var(--content-width)) + (2 * var(--content-padding)), 100% - (2 * var(--content-padding))) !important;
}

.yak-content .box-interior .narrow > * {
	max-width: min((0.75 * var(--content-width)) + (2 * var(--content-padding)), 100% - (2 * var(--content-padding))) !important;
}

.yak-content .yak-post pre {
	white-space: pre-wrap;
}

.yak-content .yak-post img {
	max-width: 100% !important;
	height: auto !important;
}

.yak-content .yak-post div.tweet,
.yak-content .yak-post div.youtube-wrap {
	margin-inline-start: 2rem;
	display: block;
	max-width: calc(100% - 4rem);
}

.yak-content .yak-post li div.tweet,
.yak-content .yak-post li div.youtube-wrap {
	margin-inline-start: 0;
	display: block;
	max-width: 100%;
}

.yak-content .yak-post blockquote {
	padding-inline-start: 0;
	padding-inline-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subhead {
	font-family: "Playfair Display", Georgia, serif;
}

h1 {
	margin-top: max(1.2em, 1rem);
	margin-bottom: max(0.6em, 0.5rem);
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: max(1.8em, 1rem);
	margin-bottom: max(0.9em, 0.5rem);
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
	margin-top: 0;
}

h1 + ol,
h1 + ul,
h2 + ol,
h2 + ul,
h3 + ol,
h3 + ul,
h4 + ol,
h4 + ul,
h5 + ol,
h5 + ul,
h6 + ol,
h6 + ul {
	margin-top: min(-0.9em, -0.5rem);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit !important;
	text-decoration-line: none;
	opacity: 1.0 !important;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration-line: underline;
}

/* Copied from: https://css-tricks.com/scaled-proportional-blocks-with-css-and-javascript/ */
.google-slideshow {
	height: 0;
	padding-bottom: calc(56.25% + 29px); /* 16:9 + Google Slides controls */
}

.project-pages {
	padding-left: calc(var(--content-padding) / 2);
	padding-right: calc(var(--content-padding) / 2);
}

.project-page-box-container {
	margin-top: var(--content-padding);
	margin-left: calc(var(--content-padding) / 2);
	margin-right: calc(var(--content-padding) / 2);
}

.project-page-box .hero {
	height: 24rem;
}

.page-info {
	height: auto;
	overflow: auto;
}

a.member-box,
a.project-box,
a.project-page-box,
.silent-link {
	text-decoration: none;
	opacity: 1.0;
}

a.member-box .pseudo-link,
a.project-box .pseudo-link,
a.project-page-box .pseudo-link {
	text-decoration-line: underline;
	opacity: 0.8;
}

a.member-box:hover .pseudo-link,
a.project-box:hover .pseudo-link,
a.project-page-box:hover .pseudo-link {
	opacity: 1.0;
}

.required {
	font-weight: bold;
	color: red;
}

#markdown-toc {
	margin-top: 1em;
	padding: 1rem 2rem 1rem 3rem;
}

#markdown-toc li {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#markdown-toc li ul {
	padding-inline-start: 1.5rem;
}

.footnotes {
	padding: 1em 2em 1em 0.5em;
}

.yak-page-project-slide {
	padding-bottom: 0;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
}

.yak-page-project-slide .yak-slide-wrapper {
	flex: 1 1 auto;
}

.slide-image-left,
.slide-image-right {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.slide-image-left {
	flex-direction: column;
}

.slide-image-right {
	flex-direction: column-reverse;
}

.slide-content,
.slide-image-left .slide-image,
.slide-image-right .slide-image,
.yak-slide-deck-section-header .slide-deck-visible-anchor {
	width: min(var(--content-width), 100% - (3 * var(--content-padding)));
	margin-left: auto;
	margin-right: auto;
}

.slide-image-none .slide-image {
	display: none;
}

.slide-border {
	border-top-style: solid;
	border-top-width: 1px;
}

.slide-content {
	margin-top: 4rem !important;
	margin-bottom: 4rem !important;
}

.slide-content *:first-child {
	margin-top: 0;
}

.full-bleed-box.yak-slide-deck-section-header {
	margin-top: 0;
}

.full-bleed-box.yak-slide-deck-section-header .box-interior {
	padding-top: 0;
}

h1.slide-deck-visible-anchor a,
h1.slide-deck-visible-anchor a:hover,
h2.slide-deck-visible-anchor a,
h2.slide-deck-visible-anchor a:hover,
h3.slide-deck-visible-anchor a,
h3.slide-deck-visible-anchor a:hover,
h4.slide-deck-visible-anchor a,
h4.slide-deck-visible-anchor a:hover,
h5.slide-deck-visible-anchor a,
h5.slide-deck-visible-anchor a:hover,
h6.slide-deck-visible-anchor a,
h6.slide-deck-visible-anchor a:hover {
	text-decoration-line: none;
}

.slide-deck-visible-anchor {
	width: 100%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 0.25rem;
}

.slide-deck-visible-anchor a:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: " \f0c1";
	white-space: pre;
	opacity: 0;
}

.slide-deck-visible-anchor a:hover:after {
	opacity: 0.4;
}

.slide-content .slide-deck-visible-anchor {
	margin-top: -0.5rem;
}

/* Knack form overrides */
#knack-body,
.kn-view {
	font-family: "Noto Serif", Georgia, serif !important;
}

#kn-app-header {
	display: none;
}

.kn-view {
	margin-bottom: 0 !important;
}

.control:not(:last-child) {
	margin-bottom: 1.5em !important;
}

.control.is-grouped > .control:not(:last-child) {
	margin-bottom: 0 !important;
}

.kn-radio .control {
	margin-bottom: 0.75em !important;
}

.kn-label:not(:last-child) {
	margin-bottom: 0.5em !important;
}

.kn-submit {
	margin-top: 1em !important;
}

.kn-button {
	font-size: inherit !important;
	font-weight: bold !important;
	height: auto !important;
	padding: 0.5em !important;
}
