:root {
	--content-width: 36rem;
	--content-padding: 1.25rem;
}

html {
	z-index: -2;
}

body {
	font-family: "Noto Serif", Georgia, serif;
	z-index: -10;
}

.fill-space {
	z-index: -9;
}

.column-background-wrapper {
	z-index: -8;
}

.column-background {
	width: min(var(--content-width) + (2 * var(--content-padding)), 100%);
	margin-left: auto;
	margin-right: auto;
}

#footer-slogan, #footer-slogan:hover {
	text-decoration: none;
}

.small,
details,
.smaller,
figcaption,
.footnotes,
.page-info,
.author-bio,
.slide-author,
#markdown-toc {
	font-size: 80%;
}

a.yak-logo {
	text-decoration: none;
	opacity: 0.75;
}

a.yak-logo:hover {
	opacity: 1.0;
}

a.yak-logo .yak-logo-image {
	width: 2.5rem;
	height: 2.5rem
}

#yak-iframe-widget {
	max-width: 100% !important;
	height: calc(100% + 1rem); /* To cancel out the 1rem margin of the main <article/> */
}

.yak-content {
	position: relative;
}

.yak-content > *:not(.left-box):not(.right-box):not(.center-box):not(.full-bleed-box) {
	max-width: min(var(--content-width), 100% - (2 * var(--content-padding)));
	margin-left: auto;
	margin-right: auto;
}

.yak-content > *:last-child,
.yak-content > *:last-child > *:last-child,
.yak-content > *:last-child > *:last-child > *:last-child,
.yak-content > *:last-child > *:last-child > *:last-child > *:last-child {
	margin-bottom: 0;
}

.yak-content ol,
.yak-content ul {
	padding-inline-start: 3rem;
}

.yak-content blockquote {
	padding-inline-start: 3rem;
	padding-inline-end: 3rem;
}

.yak-content .left-box,
.yak-content .right-box {
	display: block;
	width: calc(
		(
			100% - min(
				var(--content-width),
				100% - (2 * var(--content-padding))
			) + min(
				var(--content-width) / 2,
				50% - (2 * var(--content-padding))
			)
		) / 2
	);
	min-width: min(
		(var(--content-width) / 2) + (2 * var(--content-padding)),
		100%
	);
	margin-top: calc(-0.75 * var(--content-padding));
}

.yak-content .left-box .box-interior,
.yak-content .right-box .box-interior {
	width: min(
		(var(--content-width) / 2) + (2 * var(--content-padding)),
		100%
	);
	padding: var(--content-padding);
}

.yak-content .left-box {
	float: left;
}

.yak-content .left-box .box-interior {
	float: right;
}

.yak-content .right-box {
	float: right;
}

.yak-content .right-box .box-interior {
	float: left;
}

.yak-content .center-box {
	display: block;
	width: min((1.5 * var(--content-width)) + (4 * var(--content-padding)), 100%);
	margin-top: calc(-1 * var(--content-padding));
	margin-bottom: calc(-1 * var(--content-padding));
	margin-left: auto;
	margin-right: auto;
}

.yak-content .center-box .box-interior {
	padding: var(--content-padding);
}

.yak-content .full-bleed-box {
	display: block;
	margin-top: calc(-1 * var(--content-padding));
	margin-bottom: calc(-1 * var(--content-padding));
	width: 100%;
}

.yak-content .full-bleed-box .box-interior {
	padding: var(--content-padding) 0;
}

.yak-content .box-interior .yak-content > * {
	max-width: 100% !important;
}

.yak-content .box-interior .wide > * {
	max-width: min((1.5 * var(--content-width)) + (2 * var(--content-padding)), 100% - (2 * var(--content-padding))) !important;
}

.yak-content .box-interior .narrow > * {
	max-width: min((0.75 * var(--content-width)) + (2 * var(--content-padding)), 100% - (2 * var(--content-padding))) !important;
}

.yak-content .yak-post pre {
	white-space: pre-wrap;
}

.yak-content .yak-post img {
	max-width: 100% !important;
	height: auto !important;
}

.yak-content .yak-post div.tweet,
.yak-content .yak-post div.youtube-wrap {
	margin-inline-start: 2rem;
	display: block;
	max-width: calc(100% - 4rem);
}

.yak-content .yak-post li div.tweet,
.yak-content .yak-post li div.youtube-wrap {
	margin-inline-start: 0;
	display: block;
	max-width: 100%;
}

.yak-content .yak-post blockquote {
	padding-inline-start: 0;
	padding-inline-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.subhead {
	font-family: "Playfair Display", Georgia, serif;
}

h1 {
	margin-top: max(1.2em, 1rem);
}

h2,
h3,
h4,
h5,
h6 {
	margin-top: max(1.8em, 1rem);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit !important;
	text-decoration-line: none !important;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration-line: underline !important;
}

/* Copied from: https://css-tricks.com/scaled-proportional-blocks-with-css-and-javascript/ */
.google-slideshow {
	height: 0;
	padding-bottom: calc(56.25% + 29px); /* 16:9 + Google Slides controls */
}

.project-pages {
	padding-left: calc(var(--content-padding) / 2);
	padding-right: calc(var(--content-padding) / 2);
}

.project-page-box-container {
	margin-top: var(--content-padding);
	margin-left: calc(var(--content-padding) / 2);
	margin-right: calc(var(--content-padding) / 2);
}

.project-page-box .hero {
	height: 24rem;
}

.page-info {
	height: auto;
	overflow: auto;
}

a.member-box,
a.project-box,
a.project-page-box {
	text-decoration: none;
}

.pseudo-link {
	text-decoration-line: underline;
}

.required {
	font-weight: bold;
}

h2#featured-yak {
	margin-top: 2em;
}

#markdown-toc {
	padding: 1rem 2rem 1rem 3rem;
}

#markdown-toc li {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

#markdown-toc li ul {
	padding-inline-start: 2rem;
}

.footnotes {
	padding: 1em 2em 1em 0.5em;
}

.yak-page-project-slide {
	padding-bottom: 0;
	margin-bottom: 0;
}

.slide-image-left .slide-image,
.slide-image-right .slide-image {
	width: min(var(--content-width), 100% - (2 * var(--content-padding)));
	margin-left: auto;
	margin-right: auto;
}

.slide-content {
	width: min(var(--content-width), 100% - (2 * var(--content-padding)));
	margin-left: auto;
	margin-right: auto;
}
