---
layout: none
---

{% comment %}
	Generate styles for study groups.
{% endcomment %}
{% assign study_groups = site.pages | where: "layout", "page-study-group" %}
{% for study_group in study_groups %}
	{% assign study_group_id = study_group.url | replace: ".html", "" | replace: "/", " " | strip | split: " " | last %}
	{% if study_group.hero_image %}
		#{{ study_group_id }}-hero .hero {
			content : "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("{{ study_group.hero_image }}");
			background-size: cover;
			width: 100%;
			height: 100%;
			opacity: 0.5;
		}
	{% endif %}
	#{{ study_group_id }}-box .hero {
		{% if study_group.hero_image %}
			background-image: url("{{ study_group.hero_image }}");
			background-position: center center;
		{% else %}
			background-image: url("/img/yak-og.jpg");
			background-position: center right;
		{% endif %}
		background-size: cover;
	}
{% endfor%}

{% comment %}
	Generate project-specific styles.
{% endcomment %}
{% assign projects = site.pages | where: "layout", "page-project" %}
{% for project in projects %}
	{% assign project_id = project.url | replace: ".html", "" | replace: "/", " " | strip | split: " " | last %}
	{% if project.hero_image %}
		#{{ project_id }}-hero .hero {
			content : "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("{{ project.hero_image }}");
			background-size: cover;
			width: 100%;
			height: 100%;
			opacity: 0.5;
		}
	{% endif %}
	#{{ project_id }}-box .hero {
		{% if project.hero_image %}
			background-image: url("{{ project.hero_image }}");
			background-position: center center;
		{% else %}
			background-image: url("/img/yak-og.jpg");
			background-position: center right;
		{% endif %}
		background-size: cover;
	}
{% endfor%}

{% comment %}
	Generate project page-specific styles.
{% endcomment %}
{% assign project_pages = site.pages | where: "layout", "page-project-page" %}
{% for project_page in project_pages %}
	#{{ project_page.url | replace: '.html', '' | replace: '/', ' ' | strip | split: ' ' | last }} .project-page-box .hero {
		background: {% if project_page.hero_image %}url('{{ project_page.hero_image }}') {{ project_page.hero_attach_vertical | default: "center" }} {{ project_page.hero_attach_horizontal | default: "center" }}{% else %}url('/img/yak-og.jpg') center right{% endif %};
	}
{% endfor %}

{% comment %}
	Generate slide-specific styles.
{% endcomment %}
{% assign slides = site.pages | where: "layout", "page-project-slide" %}
{% for slide in slides %}
	{% assign slide_id = slide.url | replace: '.html', '' | replace: '/', ' ' | strip | replace: ' ', '-' %}
	{% if slide.page_text_color or slide.page_bg_color %}
		#{{ slide_id }} {
			{% if slide.page_text_color == "white" %}
				color: rgba(255,255,255,1.0);
			{% else %}
				color: rgba(15,15,15,1.0);
			{% endif %}
			{% if slide.page_bg_color %}
				background-color: rgba({{ slide.page_bg_color }},1.0);
			{% endif %}
		}
		#{{ slide_id }} input,
		#{{ slide_id }} select {
			{% if slide.page_text_color == "white" %}
				color: rgba(255,255,255,1.0);
				border-color: rgba(255,255,255,0.2);
			{% else %}
				color: rgba(15,15,15,1.0);
				border-color: rgba(15,15,15,0.2);
			{% endif %}
			{% if slide.page_bg_color %}
				background-color: rgba({{ slide.page_bg_color }},1.0);
			{% endif %}
		}
		{% if slide.page_text_color %}
			#{{ slide_id }} time,
			#{{ slide_id }} details,
			#{{ slide_id }} figcaption,
			#{{ slide_id }} .slide-tags,
			#{{ slide_id }} .slide-author,
			#{{ slide_id }} .project-page-author {
				color: rgba({% if slide.page_text_color == "white" %}255,255,255{% else %}15,15,15{% endif %},0.8);
			}
			#{{ slide_id }} .member-box,
			#{{ slide_id }}.slide-border, /* No space for this one! */
			#{{ slide_id }} .image-border,
			#{{ slide_id }} .slide-deck-visible-anchor {
				border-color: rgba({% if slide.page_text_color == "white" %}255,255,255{% else %}15,15,15{% endif %},0.2);
			}
			#{{ slide_id }} .submit,
			#{{ slide_id }} .footnotes {
				background-color: rgba({% if slide.page_text_color == "white" %}255,255,255{% else %}15,15,15{% endif %},0.05);
			}
		{% endif %}
	{% endif %}
{% endfor %}
