# Ignore standard *NIX graffiti
.DS_Store
._*
*~
*.swp

# Ignore build files
.bundle/*
.jekyll-cache/*
_site/*
node_modules/*
vendor/*
package-lock.json

# Ignore sensitive data from Knack
bin/knack-yak-creds.sh
_data/knack_yaks.json
members/*
