# Ignore standard *NIX graffiti
.DS_Store
._*
*~
*.swp

# Ignore build files
.automation/var/cache/*
.automation/var/state/common-init

# Python virtual environment
bin/*
lib/*
pyvenv.cfg

# Lock files cause more problems than they solve
Gemfile.lock
package-lock.json

# Ignore Planet Pluto files that are regularly regenerated
#
.automation/var/pluto/*.db
.automation/var/pluto/bluesky/*
.automation/var/pluto/discord/*
.automation/var/pluto/farcaster/*
.automation/var/pluto/newsletter/*
.automation/var/pluto/twitter/*
.automation/var/pluto/writings/*
.automation/var/pluto/writings.ini
