---
---

{% include head.html %}

{% include nav.html %}

<div class="container mw7 cf pv5 f4-l center w-90 lh-copy">
      
    
    <h1>
      The Yak Collective
    </h1>
    <div class="subhead">
      The Yak Collective is a network of over 300 independent consultants, coaches, and freelancers with varied technical and creative skills. You can learn more about us on the <a href="/about">About page</a>. We are available both for individual projects on specific topics that match our skills, and for larger collaborative projects we can take on as a group, bringing together the mix of skills necessary. Check out our Members page and get in touch with any of us if you'd like to learn more.
      <br><br>
      Our inaugural report, <em><a href="https://yakcollective.org/projects/yak-wisdom">Don't Waste the Reboot</a></em>, is now available. Check it out! We will be putting out more research in the coming months. Follow us on <a href="https://twitter.com/yak_collective">Twitter</a>, <a href="https://www.facebook.com/theyakcollective/">Facebook</a>, or <a href="https://www.linkedin.com/company/yak-collective/">LinkedIn</a> to stay in the loop.
        
      
    </div>
      


      
      </div>
  
    
  