---
---

{% include head.html %}

{% include nav.html %}

<div class="container mw7 cf pv5 f4-l center w-90 lh-copy">
      
    
    <h1>
      The Yak Collective
    </h1>
    <div class="subhead">
      The Yak Collective is a group of independent consultants who coordinate
      loosely on gigs, and collaborate on larger gigs. We are a varied bunch
      with a very diverse set of experiences.<br><br>We are available both for
      individual projects on specific topics that match our skills, and larger
      collaborative projects we can take on as a group, bringing together the
      mix of skills necessary.
    </div>
      
    <a href="/reports/yak-wisdom"><div class="feature ba b--black-10 br2">

        <div class="h4">
          <div class="w-50 fl">
              <div class="f5 lh-title fw9 mb3 mt0 pt3 bt bw2">
                  REPORT
              </div>
            <h2>Yak Wisdom</h2>
          </div>
          <div class="w-50 h4 fl bg-yak-wisdom">

          </div>
        </div>


        
      </div></a>

      
      </div>
    
{% include footer.html %}    
    
  