body {
	font-family: "Noto Sans", Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.subhead {
	font-family: "Sonsie One", "Comic Sans MS", cursive, sans-serif;
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.35em;
}
h3 {
	font-size: 1.053em;
}
h4 {
	font-size: 0.9em;
}
h5 {
	font-size: 0.747em;
}
h6 {
	font-size: 0.603em;
}
.f1 {
	font-size: 2.7rem
}
.subhead {
	font-weight: normal;
	font-size: 0.9em
}
.fill-space {
	background-image: url("/projects/astonishing-stories/agglomerizing-the-aesthetic-bg.webp");
	background-position: top center;
	background-size: cover;
}
