@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sonsie+One&family=Ceviche+One&family=Bangers&display=swap");
body {
	font-family: "Noto Sans", Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.subhead {
	font-family: "Sonsie One", "Comic Sans MS", cursive, sans-serif;
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.35em;
}
h3 {
	font-size: 1.053em;
}
h4 {
	font-size: 0.9em;
}
h5 {
	font-size: 0.747em;
}
h6 {
	font-size: 0.603em;
}
.f1 {
	font-size: 2.6rem
}
.subhead {
	font-weight: normal;
	font-size: 0.9em
}
#astonishing-stories-hero .hero {
	display: none;
}
#astonishing-stories-hero .pv4 {
	padding-top: 0.5rem;
	padding-bottom: 0;
}
@media (min-width: 60em) {
	#astonishing-stories-hero .pv5-l {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}
}
#agglomerizing-the-aesthetic h2,
#your-payment-is-ready h2 {
	font-family: "Sonsie One", "Comic Sans MS", cursive, sans-serif;
	font-size: 1.35em;
	margin-block-start: 0.922em;
	margin-block-end: 0.922em;
}
#department-of-restoration h2,
#gpt-51-pre-fab-father h2 {
	font-family: "Ceviche One", Impact, sans-serif;
	font-size: 2.1em;
	margin-block-start: 0.395em;
	margin-block-end: 0.395em;
}
#mechanical-turks-all-the-way-down h2,
#wholeness-in-a-timeless-activity h2 {
	font-family: Bangers, Impact, sans-serif;
	font-size: 1.65em;
	margin-block-start: 0.755em;
	margin-block-end: 0.755em;
}
