{% comment %}
	Given an author identifier (`100041`), generate a footer suitable
	for a post or project page.

	We break this functionality out as an include rather than a layout
	because layout inheritance isn't flexible enough to otherwise
	prevent us from duplicating this

	Expects a single parameter, `author`, which identies the post/page
	author.
{% endcomment %}

<hr>

{% assign author = site.data.knack_yaks.records | find: "field_101_raw", include.author %}

{% if author %}
	{% comment %}
		Pull in relevant member information from page properties.
	{% endcomment %}
	{% assign member_id = author.field_101_raw %}
	{% assign member_url = "/members/" | append: member_id | append: ".html" %}
	{% assign professional_name = author.field_97_raw | strip %}
	{% assign tagline = author.field_41_raw | strip %}
	{% assign background_info = author.field_32_raw | strip %}

	<div class="mt3 mb3 flex items-top no-top-margin">
		<div class="w3 w4-l mr3 mr4-l h4-image">
			<a href="{{ member_url }}"><img class="w3 w4-l h3 h4-l br-100 ba image-border" src="/members/{{ member_id }}.jpg" alt="{{ professional_name }}"></a>
		</div>
	
		<div class="no-bottom-margin">
			<h4>{{ professional_name }}</h4>
	
			{% if background_info != empty %}
				<small class="db">{{ background_info | markdownify }}</small>
			{% elsif tagline != empty %}
				<small class="db"><p>{{ tagline }}</p></small>
			{% endif %}
		
			<small class="db"><p><a href="{{ member_url }}">Learn more&hellip;</a></p></small>
		</div>
	</div>
{% endif %}
