{% comment %}
	Given an author identifier (`100041`), generate a footer suitable
	for a post or project page.

	We break this functionality out as an include rather than a layout
	because layout inheritance isn't flexible enough to otherwise
	prevent us from duplicating this

	Expects a single parameter, `author`, which identies the post/page
	author.
{% endcomment %}

{% assign author = site.data.knack_yaks.records | find: "field_101_raw", include.author %}
{% if author %}
	<div class="mt4">{% include widget-member-bio.html member=include.author %}</div>
	{% if author.field_32_raw %}
		<div class="author-bio">
			{{ author.field_32_raw | strip | markdownify }}
		</div>
	{% endif %}
{% endif %}
