<footer class="bottom-0 ph3 ph5-l bt tc w-100">
	<small class="db tc mt3">The Yak Collective</small>

	{% comment %}
		Insert a random slogan into the footer. We do this twice; once
		here, and once using JavaScript (the very last line in this
		file). This ensures that nothing breaks if JavaScript is
		disabled in the user agent.
	{% endcomment %}
	{% assign random_slogan = site.data.slogans | sample: 1 %}
	<small class="db tc mt3"><a href="/tips/" id="footer-slogan">{{ random_slogan }}</a></small>
	<a class="link dib f4 ma3" href="https://www.facebook.com/theyakcollective/" title="Facebook"><i class="fab fa-facebook-square"></i></a>
	<a class="link dib f4 ma3" href="https://www.linkedin.com/company/yak-collective/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
	<a class="link dib f4 ma3" href="https://twitter.com/yak_collective" title="Twitter"><i class="fab fa-twitter-square"></i></a>
	</a>
</footer>
<script defer src="/js/slogans.js"></script>
