<nav class="db dt-l w-100 border-box pa3 ph5-l mw9 center">
	<a class="yak-logo db dtc-l v-mid w-100 w-25-l tc tl-l mb1 mb0-l" href="/" title="{{ site.name }}">
		<div class="dib w2 h2 yak-logo-image"></div>
	</a>
	<div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
		<a class="f6 dib mb1 mr3 mr4-l" href="/projects">Projects</a>
		<a class="f6 dib mb1 mr3 mr4-l" href="/writings">Writings</a>
		<a class="f6 dib mb1 mr3 mr4-l" href="/members">Members</a>
		<a class="f6 dib mb1 mr3 mr4-l" href="https://yakcollective.substack.com/">Newsletter</a>
		<a class="f6 dib mb1 mr3 mr4-l" href="/about">About</a>
		<a class="f6 dib mb1 mr3 mr4-l" href="/join">Join</a>
	</div>
</nav>
