{% comment %}
	Accent colors can vary by page. This include controls this, as well
	as other per-page elements.
{% endcomment %}
{% if page.accent_color %}
	{% assign accent_color = page.accent_color %}
{% elsif page.layout == "page-project-page" %}
	{% assign path_array = page.url | replace: "/", " " | strip | split: " " %}
	{% assign project_url = "/projects/" | append: path_array[1] | append: "/" %}
	{% assign project = site.pages | find: "url", project_url %}
	{% assign accent_color = project.accent_color %}
{% else %}
	{% assign accent_color = site.accent_color %}
{% endif %}

a:hover,
.required {
	color: rgba({{ accent_color }},1.00);
}

footer a:hover {
	color: rgba({{ accent_color }},0.75);
}

a.yak-logo:hover .yak-logo-image {
	background-color: rgba({{ accent_color }},1.00);
}

.yak-content a {
	text-decoration-color: rgba({{ accent_color }},0.60);
}

.yak-content a:hover {
	color: rgba({{ accent_color }},1.00);
	text-decoration-color: rgba({{ accent_color }},1.00);
}

a.member-box:hover {
	color: rgba({{ accent_color }},1.00);
}

.pseudo-link {
	text-decoration-color: rgba({{ accent_color }},0.60);
}

{% comment %}
	Generate project-specific styles.
{% endcomment %}
{% assign projects = site.pages | where: "layout", "page-project" %}
{% for project in projects %}
	{% assign project_id = project.url | replace: "/", " " | strip | split: " " | last %}
	{% if project.accent_color %}
		{% assign accent_color = project.accent_color %}
	{% else %}
		{% assign accent_color = site.accent_color %}
	{% endif %}
	{% if project.hero_image %}
		#{{ project_id }}-hero .hero {
			content : "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background-image: url("{{ project.hero_image }}");
			background-size: cover;
			width: 100%;
			height: 100%;
			opacity: 0.5;
		}
	{% else %}
		#{{ project_id }}-hero .hero {
			background-color: rgba({{ accent_color }},0.10);
		}
	{% endif %}
	#{{ project_id }}-box a:hover {
		color: rgba({{ accent_color }},1.00);
	}
	#{{ project_id }}-box .pseudo-link {
		text-decoration-color: rgba({{ accent_color }},0.60);
	}
	#{{ project_id }}-box .hero {
		background-color: rgba({{ accent_color }},0.60);
		{% if project.hero_image %}
			background-image: url("{{ project.hero_image }}");
			background-size: cover;
		{% endif %}
	}
{% endfor%}
