{% comment %}
	Accent colors can vary by page. This include controls this, as well
	as other per-page elements.
{% endcomment %}

{% if page.accent_color %}
	{% assign accent_color = page.accent_color %}
{% elsif page.layout == "project-page" %}
	{% assign project = site.projects | where: "name", page.project | first %}
	{% assign accent_color = project.accent_color %}
{% else %}
	{% assign accent_color = site.accent_color %}
{% endif %}

a:hover,
.required {
	color: rgba({{ accent_color }},1.00);
}

footer a:hover {
	color: rgba({{ accent_color }},0.75);
}

a.yak-logo:hover .yak-logo-image {
	background-color: rgba({{ accent_color }},1.00);
}

.yak-content a {
	text-decoration-color: rgba({{ accent_color }},0.60);
}

.yak-content a:hover {
	color: rgba({{ accent_color }},1.00);
	text-decoration-color: rgba({{ accent_color }},1.00);
}

{% comment %}
	If `page.hero_image` is set, we add it *before* the hero container
	and then set its z-index to be below all other page layers. This is
	necessary so that we can get fine-grained control over image
	properties like opacity, which can't be done in CSS if we just set
	it as a background image.

	If `page.hero_image` is empty, just fill the available space with a
	light version of the page accent color.
{% endcomment %}
{% if page.hero_image %}
	.hero {
		position: relative;
	}
	.hero:before {
		content : "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url("{{ page.hero_image }}");
		width: 100%;
		height: 100%;
		opacity: 0.5;
		z-index: -1;
	}
{% else %}
	.hero {
		background-color: rgba({{ accent_color }},0.10);
	}
{% endif %}

a.member-box:hover {
	color: rgba({{ accent_color }},1.00);
}

.pseudo-link {
	text-decoration-color: rgba({{ accent_color }},0.60);
}

{% comment %}
	On the project list ("/projects/") and individual member pages, we
	often want to display the individual "project boxes", each of which
	has its own hero image and accent color. Each project card has an
	ID that's the project name (slug, really), which means that we can
	use that ID as a selector here to avoid polluting the other elements
	on the page.

	We only include this bit when necessary, as it has the potential to
	grow quite large as more and more projects come online.
{% endcomment %}
{% if page.url == "/projects/" or page.layout == "member" %}
	{% for project in site.projects %}
		{% if project.name %}
			{% if project.accent_color %}
				{% assign accent_color = project.accent_color %}
			{% else %}
				{% assign accent_color = site.accent_color %}
			{% endif %}
			#{{ project.name }} a:hover {
				color: rgba({{ accent_color }},1.00);
			}
			#{{ project.name }} .pseudo-link {
				text-decoration-color: rgba({{ accent_color }},0.60);
			}
			#{{ project.name }} .hero {
				background-color: rgba({{ accent_color }},0.60);
				{% if project.hero_image %}
					background-image: url("{{ project.hero_image }}");
					background-size: cover;
				{% endif %}
			}
		{% endif %}
	{% endfor%}
{% endif %}
