{% comment %}
	Project page boxes display page information for projects that have
	one or more sub-pages. Each sub-page MUST have a `title` and then
	can contain any combination of the following attributes (including
	none at all): `hero_image`, `author`, `date`, `description` and
	`original_link` (for pages pointing offsite, like member writings).
	For best results, all sub-pages associated with a given project
	(with `display: true`) should have the same set of attributes
	defined.

	This include expects a single parameter:

		`pp`
		An object containing the relevant project page information from
		`site.pages`.

	FIXME: This feels like it should be a widget, but I can't figure out
	how to make it work outside of the context of the project page list.
{% endcomment %}

{% comment %}
	Grab project information.
{% endcomment %}
{% assign path_array = include.pp.url | replace: "/", " " | strip | split: " " %}
{% assign project_url = "/projects/" | append: path_array[1] | append: "/" %}
{% assign project = site.pages | find: "url", project_url %}

<div id="{{ include.pp.url | replace: '/', ' ' | strip | split: ' ' | last }}" class="project-page-box-container w-100 dib">
	{% if include.pp.date <= site.time or site.future == true %}<a href="{% if include.pp.original_link %}{{ include.pp.original_link }}{% else %}{{ include.pp.url }}{% endif %}"{% else %}<div{% endif %} class="project-page-box db ba {% if include.pp.date > site.time and site.future != true %}o-40 {% endif %}relative">

		{% comment %}
			Hero image. Displayed portrait-ish, if present.
		{% endcomment %}
		<div class="hero bb" style="background: rgb({{ project.accent_color }}){% if include.pp.hero_image %} url('{{ include.pp.hero_image }}') {{ include.pp.hero_attach_vertical | default: "center" }} {{ include.pp.hero_attach_horizontal | default: "center" }}{% endif %}; background-size: cover;"></div>

		<div class="page-info mh4 mt1 mb3">
			<h2 class="underline">{{ include.pp.title }}</h2>

			{% comment %}
				Project page date.
			{% endcomment %}
			{% if include.pp.date %}
				<time class="db small ttu tracked-tight">
					{{ include.pp.date | date_to_long_string: "ordinal", "US" }}
				</time>
			{% endif %}

			{% comment %}
				Project page author. Since the `member-list.html`
				include expects an array but `include.pp.author` is a
				string, we need to use `split` (on a character not
				present in `include.pp.author`) to turn it into a
				single-element array.
			{% endcomment %}
			{% if include.pp.author %}
				{% assign author = include.pp.author | split: " " %}
				<p class="project-page-author small ttu tracked-tight">{% include member-list.html member_list=author link_members=false %}</p>
			{% endif %}

			{% comment %}
				Project page description.
			{% endcomment %}
			{% if include.pp.description %}
				<p class="silent-link">{{ include.pp.description }}</p>
			{% endif %}
		</div>
	</{% if include.pp.date <= site.time or site.future == true %}a{% else %}div{% endif %}>
</div>
