{% comment %}
	For projects in a seuqence, calculate the number of days since the
	start of the sequence. After: https://stackoverflow.com/a/61051707

	Expects the following parameters to be passed in:

		`current_date`
		Date to calculate days elapsed from.

		`sequence_id`
		Identifier of the sequence being calculated. Normally this is
		the `sequence` attribute of a project.
{% endcomment %}

{% assign sequence = site.sequences | where: "name", include.sequence_id | first %}
{% assign sequence_start = sequence.date | date: "%s" %}
Day {{ include.current_date | date: "%s" | minus: sequence_start | divided_by: 3600 | divided_by: 24 | round }} {{ sequence.count_phrase }}
