{% comment %}
	Project boxes display project summary information, similar to member
	cards. As with member cards, they can be presented either as links
	or containers, but unlike member cards their "link form" is their
	primary use case (containerized project boxes are used for "coming
	soon" projects).

	This include takes a single parameter, `project`, which should be
	An object containing the relevant project information (which you
	almost certainly want to pull from the `site.projects` collection).

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

<div id="{{ include.project.name }}" class="mt4 mb5">
	<a href="/projects/{{ include.project.slug }}/" class="project-box ba relative">
		<div class="w-50">
			<div class="f6 lh-title fw9 mv0 pt1 bt bw1 ph2 sans-serif ttu silent-link">{{ include.project.type }}</div>
			<h2 class="ph2 fw8 f3 lh-solid pt4 pb1 mb1 mt4 pseudo-link">{{ include.project.title }}</h2>
			<p class="ph2 f5 lh-solid pv1 mt0 mb4 fw6 subhead pseudo-link">{{ include.project.tagline }}</p>

			{% comment %}
				Display list of lead editors.
			{% endcomment %}
			<p class="f6 ph2 mv2 silent-link">
				<span class="ttu">Lead editors:</span>
				{% include member-list.html member_list=include.project.lead_editors link_members=false %}
			</p>

			{% comment %}
				Project date and sequence count (if applicable).
			{% endcomment %}
			<time class="f6 ph2 mt3 mb2 ttu tracked-tight">
				Published: {{ include.project.date | date_to_long_string: "ordinal", "US" }} UTC
				{% if include.project.sequence %}
					/ {% include sequence.html current_date=include.project.date sequence_id=include.project.sequence %}
				{% endif %}
			</time>

		</div>
		<div class="w-50 h-100 absolute top-0 right-0 bl hero"></div>
	</a>
</div>
