{% comment %}
	Member cards can be used either as links to the actual member page
	or as containers of information. In the first case, we want
	everything to be wrapped in an anchor tag... And since anchors
	*can't* contain anchors themselves, we need to kill any additional
	links in this case. In the second case, we can display and link all
	of the member card data as we'd normally like to.

	This include expects two parameters:

		`standalone`
		Truthy/Falsy parameter indicating whether the card should be
		presented as a fully-functional container of member information
		(true), or as a link to a member page (false). Since `nil` is
		falsy in Liquid, not passing in this parameter is the same as
		setting `standalone = false`.

		`member`
		The ID of a member -- basically, the name of the corresponding
		file in `/members/`, less the `/.md` extension. For example,
		Venkatesh Rao's member card would be called by passing in
		`member="rao-venkatesh"`.

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% comment %}
	Find member data.
{% endcomment %}
{% assign member_url = "/members/" | append: include.member | append: "/" %}
{% assign member_data = site.pages | find: "url", member_url %}

{% comment %}
	Output member card HTML.
{% endcomment %}
<div class="w-100 mv3" id="{{ member_data.url | replace: '/', ' ' | strip | split: ' ' | last }}">
	{% if include.standalone %}<div{% else %}<a href="{{ member_data.url }}"{% endif %} class="flex items-center lh-copy pa3 ba member-box">
		<img class="w3 h3 br-100 ba image-border" src="{% if member_data.avatar %}{{ member_data.avatar }}{% else %}/img/member.jpg{% endif %}" alt="{{ member_data.title }}" />
		<div class="pl3 pr2 flex-auto">

			{% comment %}
				Member name (the "title" of the individual member page).
				The `pseudo-link` class is used to make the card act a
				bit more like an actual link when in "link mode".
			{% endcomment %}
			<small class="db b{% unless include.standalone %} pseudo-link{% endunless %}">{{ member_data.title }}</small>

			{% comment %}
				Inset member tagline, if set.
			{% endcomment %}
			{% if member_data.tagline and member_data.tagline.size > 0 %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">{{ member_data.tagline }}</small>
			{% endif %}

			{% comment %}
				Inset member "indie status", if set.
			{% endcomment %}
			{% if member_data.indie_status and member_data.indie_status.size > 0 %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">Indie status: {{ member_data.indie_status }}</small>
			{% endif %}

			{% comment %}
				Inset member "currently" information, if set.
			{% endcomment %}
			{% if member_data.currently and member_data.currently.size > 0 %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">Currently: {{ member_data.currently }}</small>
			{% endif %}

			{% comment %}
				Inset member "previously" information, if set.
			{% endcomment %}
			{% if member_data.previously and member_data.previously.size > 0 %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">Previously: {{ member_data.previously }}</small>
			{% endif %}

			{% comment %}
				Inset member links, if set. Links are separated by " / "
				sequences, and only contain *actual* links when the
				member card is in "data mode" (otherwise, they're just
				for show).
			{% endcomment %}
			{% if member_data.links %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">
					{% for link in member_data.links %}
						{% if forloop.first == true %}{% else %} / {% endif %}
						{% if include.standalone %}<a href="{{ link.url }}">{% endif %}{{ link.title }}{% if include.standalone %}</a>{% endif %}
					{% endfor %}
				</small>
			{% endif %}

		</div>

		{% comment %}
			Inset the member's Twitter handle, if set. As with member
			links, we don't *actually* link anything unless the member
			card is in "data mode" (otherwise, this bit is also just for
			show).
		{% endcomment %}
		{% if member_data.twitter and member_data.twitter.size > 0 %}
			<div class="small{% unless include.standalone %} silent-link{% endunless %}">
				{% if include.standalone %}<a href="https://twitter.com/{{ member_data.twitter }}">{% endif %}@{{ member_data.twitter }}{% if include.standalone %}</a>{% endif %}
			</div>
		{% endif %}

	{% if include.standalone %}</div>{% else %}</a>{% endif %}
</div>
