{% comment %}
	Generate an "Idle Words" style slide, based upon many, many
	parameters...

		`hero_image`
		Left or right image. If unset, a full-width slide is produced
		(images can still be embedded within that slide using Markdown
		or HTML).

		`hero_position`
		Position the `hero_image` on the `left` or `right` of the
		slide. If unset or invalid, use `left`.

		`hero_description`
		The alt text for the `hero_image`.

		`hero_caption`
		An optional caption to display below the `hero_image`. Most
		commonly used for image credits.

		`hero_border`
		Liquid truthy/falsy parameter indicating whether or not to
		display a thin border around the `hero_image`.

		`slide_content`
		Contents of the actual slide. Markdown or HTML (or mix)
		accepted.

		`slide_separator`
		Liquid truthy/falsy parameter indicating whether or not to add a
		border between slides.

		`slide_align`
		Should slide left/right image and content be `top`, `bottom`, or
		`center` aligned? If unset or invalid, defaults to `top`.

		`slide_id`
		The element ID to use for the slide. Useful for linking.

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% comment %}
	Set defaults.
{% endcomment %}
{% if include.hero_image and include.hero_image != "-" %}
	{% assign hero_image = include.hero_image %}
	{% if include.hero_position == "right" %}
		{% assign hero_position = "right" %}
	{% else %}
		{% assign hero_position = "left" %}
	{% endif %}
{% else %}
	{% assign hero_image = false %}
	{% assign hero_position = "none" %}
{% endif %}
{% if include.hero_description and include.hero_description != "-" %}
	{% assign hero_description = include.hero_description | markdownify | strip_html | strip %}
{% else %}
	{% assign hero_description = false %}
{% endif %}
{% if include.hero_caption and include.hero_caption != "-" %}
	{% assign hero_caption = include.hero_caption | markdownify %}
{% else %}
	{% assign hero_caption = false %}
{% endif %}
{% if include.hero_border %}
	{% assign hero_border = true %}
{% else %}
	{% assign hero_border = false %}
{% endif %}
{% assign slide_content = include.slide_content | markdownify %}
{% if include.slide_separator %}
	{% assign slide_separator = true %}
{% else %}
	{% assign slide_separator = false %}
{% endif %}
{% if include.slide_align == "bottom" %}
	{% assign slide_align = "bottom" %}
{% elsif include.slide_align == "center" %}
	{% assign slide_align = "center" %}
{% else %}
	{% assign slide_align = "top" %}
{% endif %}
{% assign slide_id = include.slide_id | slugify %}

{% comment %}
	Push out slide content. No indenting is necessary so as not to mess
	with Kramdown's indentation expectations.
{% endcomment %}
{% capture the_content %}<div>
	<div{% if page.layout != "page-project-slide" %} id="{{ slide_id }}"{% endif %} class="slide-image-{{ hero_position }}{%if slide_separator %} slide-border{% endif %} {% if slide_align == 'top' %}items-start{% elsif slide_align == 'bottom' %}items-end{% else %}items-center{% endif %} cf">
		<div class="slide-image {% if hero_position == 'left' %}mt5 mb0 mv5-l{% elsif hero_position == 'right' %}mt0 mb5 mv5-l{% endif %}">
			{% if hero_image and hero_image != "-" %}
				<figure class="ma0">
					<img src="{{ hero_image }}"{% if hero_description %} alt="{{ hero_description }}"{% endif %}{% if hero_border %} class="image-border ba"{% endif %}>
					{% if hero_caption %}<figcaption class="yak-content">{{ hero_caption }}</figcaption>{% endif %}
				</figure>
			{% endif %}
		</div>
		<div class="slide-content yak-content mv5">{{ slide_content }}</div>
	</div>
</div>{% endcapture %}
{% include widget-breakout-box.html layout="full-bleed" extra_class="yak-slide-wrapper" content=the_content %}
