{% comment %}
	"Idle Words" style "infinity" slide deck. Only designed to be called
	from project pages. Accepts a number of parameters that map to
	inputs in `widget-slide.html` (and a couple more general ones):

		`hero_position`
		Position the `hero_image` on the `left` or `right` for all
		slides. If unset or invalid, use the value specified by the
		slide itself.

		`slide_separator`
		Liquid truthy/falsy parameter indicating whether or not to add a
		border between slides.

		`slide_align`
		Should slide left/right image and content be `top`, `bottom`, or
		`center` aligned? If unset or invalid, defaults to `center`.

		`title_links`
		Controls how slide titles should be linked. One of `internal`
		(links to the anchor of the current slide), `external` (links
		to the stand-alone slide page), or `none` (no link)). If unset
		or invalid, defaults to `external`.

		`show_dates`
		Liquid truthy/falsy value indicating whether or not slide dates
		should be displayed.

		`collapse_slides`
		Liquide truthy/falsy value indicating whether or not slide
		titles and authors should be suppressed if identical between
		sequential slides.

		`table_of_contents`
		Liquid truthy/falsy value indicating whether a table of contents
		for the deck should be generated.

		`table_of_contents_hero`
		Image to use for the table of contents slide. If unset, defaults
		to the project hero.

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% comment %}
	Since we can't pass unset variables along (what would that mean,
	anyway), we set `slide_align`, `hero_position`, `hide_title`, and
	`hide_author` to "-" if the corresponding `include` attribute is
	unset.
{% endcomment %}
{% if include.slide_align %}
	{% assign slide_align = include.slide_align %}
{% else %}
	{% assign slide_align = "-" %}
{% endif %}
{% if include.hero_position %}
	{% assign hero_position = include.hero_position %}
{% else %}
	{% assign hero_position = "-" %}
{% endif %}
{% if include.hide_title %}
	{% assign hide_title = include.hide_title %}
{% elsif include.use_groupings %}
	{% assign hide_title = true %}
{% else %}
	{% assign hide_title = "-" %}
{% endif %}
{% if include.hide_author %}
	{% assign hide_author = include.hide_author %}
{% elsif include.use_groupings %}
	{% assign hide_author = true %}
{% else %}
	{% assign hide_author = "-" %}
{% endif %}

{% comment %}
	Set the current project.
{% endcomment %}
{% assign project = include.project | default: page %}

{% comment %}
	Figure out the current project ID.
{% endcomment %}
{% assign project_id = project.url | replace: "/", " " | strip | split: " " | last %}

{% comment %}
	Generate a list of project pages associated with the current
	project.
{% endcomment %}
{% assign project_slides = "" | split: "" %}
{% for the_page in site.pages %}
	{% if the_page.layout == "page-project-slide" %}
		{% assign path_array = the_page.url | replace: "/", " " | strip | split: " " %}
		{% if path_array[1] == project_id %}
			{% unless the_page.hidden %}
				{% assign project_slides = project_slides | push: the_page %}
			{% endunless %}
		{% endif %}
	{% endif %}
{% endfor %}
{% assign project_slides = project_slides | sort: "url" | sort: "date" %}

{% comment %}
	Output project slides (if they exist). We force the image layout to
	be identical for all slides in order to assist formatting.

	FIXME: The initial values of the `current_text_color` and
	`current_bg_color` variables should follow the page dark/light
	theme. They also shouldn't be hard-coded here.
{% endcomment %}
{% if project_slides.size > 0 %}
	{% assign current_section = "-" %}
	{% assign current_title = "-" %}
	{% assign current_text_color = "-" %}
	{% assign current_bg_color = "-" %}
	{% for ps in project_slides %}
		{% if ps.section %}
			{% if ps.section != "-" and ps.section != current_section %}
				{% assign current_section = ps.section %}
				{% capture the_content %}<h2 id="{{ current_section | slugify }}" class="slide-deck-visible-anchor mv5"><a href="#{{ current_section | slugify }}">{{ current_section }}</a></h2>{% endcapture %}
				{% include widget-breakout-box.html layout="full-bleed" extra_class="yak-slide-deck-section-header" content=the_content %}
			{% endif %}
		{% endif %}
		{% include widget-slide.html slide_align=slide_align hero_position=hero_position hide_title=hide_title hide_author=hide_author slide=ps %}
	{% endfor %}
{% endif %}
