{% comment %}
	Project boxes display project summary information, similar to member
	cards. As with member cards, they can be presented either as links
	or containers, but unlike member cards their "link form" is their
	primary use case (containerized project boxes are used for "coming
	soon" projects).

	This include takes two paramters:
	
		`project`
		REQUIRED project ID. This is the name of the file corresponding
		to the project in the `/projects/` directory, less the `.md`
		bit. So Future Frontier's project ID is specified by setting
		`project="future-frontiers"`.

		`hide_published`
		OPTIONAL Liquid truthy/falsy variable; if truthy, *don't*
		display the "published" timestamp.

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% comment %}
	Find project data.
{% endcomment %}
{% assign project_url = "/projects/" | append: include.project | append: "/" %}
{% assign project_data = site.pages | find: "url", project_url %}

{% comment %}
	Output project box HTML.
{% endcomment %}
<div id="{{ project_data.url | replace: '/', ' ' | strip | split: ' ' | last }}-box" class="mv4">
	<{% if project_data.date <= site.time or site.future == true %}a href="{{ project_data.url }}"{% else %}div{% endif %} class="project-box db ba relative">
		<div class="w-50">
			{% if project_data.type %}<div class="smaller lh-title fw9 mv0 pt1 bt bw1 ph2 sans-serif ttu silent-link">{{ project_data.type }}</div>{% endif %}
			{% if project_data.title %}<h2 class="ph2 fw8 f3 lh-solid pt4 pb1 mb1 mt4 pseudo-link">{{ project_data.title }}</h2>{% endif %}
			{% if project_data.tagline %}<p class="ph2 small lh-solid pv1 mt0 mb4 fw6 subhead pseudo-link">{{ project_data.tagline }}</p>{% endif %}

			{% comment %}
				Display list of lead editors.
			{% endcomment %}
			{% if project_data.credits.lead_editors %}
				<p class="smaller ph2 mv2 silent-link">
					<span class="ttu">Lead editors:</span>
					{% include member-list.html member_list=project_data.credits.lead_editors link_members=false %}
				</p>
			{% endif %}

			{% comment %}
				Project date and sequence count (if applicable).
			{% endcomment %}
			{% if project_data.date %}
				{% unless include.hide_published %}
					<time class="db smaller ph2 mt3 mb2 ttu tracked-tight">
						Published: {{ project_data.date | date_to_long_string: "ordinal", "US" }} UTC
						{% if project_data.sequence %}
							/ {% include sequence.txt current_date=project_data.date sequence_id=project_data.sequence %}
						{% endif %}
					</time>
				{% endunless %}
			{% endif %}

		</div>
		<div class="w-50 h-100 absolute top-0 right-0 bl hero"></div>
	</{% if project_data.date <= site.time or site.future == true %}a{% else %}div{% endif %}>
</div>
