{% comment %}
	Member cards can be used either as links to the actual member page
	or as containers of information. In the first case, we want
	everything to be wrapped in an anchor tag... And since anchors
	*can't* contain anchors themselves, we need to kill any additional
	links in this case. In the second case, we can display and link all
	of the member card data as we'd normally like to.

	This include expects two parameters:

		`standalone`
		Truthy/Falsy parameter indicating whether the card should be
		presented as a fully-functional container of member information
		(true), or as a link to a member page (false). Since `nil` is
		falsy in Liquid, not passing in this parameter is the same as
		setting `standalone = false`.

		`member`
		The Knack "Member ID" of the person that should be displayed.
		For example, Venkatesh Rao's member card would be called by
		passing in `member=100041`.

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% comment %}
	Find member data.
{% endcomment %}
{% assign member_data = site.data.knack_yaks.records | find: "field_101_raw", include.member %}

{% assign member_id = member_data.field_101_raw %}
{% assign member_url = "/members/" | append: member_id | append: ".html" %}
{% assign professional_name = member_data.field_97_raw | strip %}
{% assign tagline = member_data.field_41_raw | strip %}
{% assign currently = member_data.field_23_raw | strip %}
{% assign previously = member_data.field_42_raw | strip %}
{% assign url_1_label = member_data.field_65_raw.label | strip %}
{% assign url_1_url = member_data.field_65_raw.url | strip %}
{% assign url_2_label = member_data.field_66_raw.label | strip %}
{% assign url_2_url = member_data.field_66_raw.url | strip %}
{% assign url_3_label = member_data.field_67_raw.label | strip %}
{% assign url_3_url = member_data.field_67_raw.url | strip %}
{% assign twitter = member_data.field_43_raw | strip %}

{% comment %}
	Set "indie status". We bin this into ranges, calculated from the
	provided "indie start year".
{% endcomment %}
{% if member_data.field_36_raw %}
	{% assign current_year = site.time | date: "%Y" %}
	{% assign years_indie = current_year | minus: member_data.field_36_raw %}
	{% if years_indie <= 1 %}
		{% assign indie_status = "1 year" %}
	{% elsif years_indie <= 2 %}
		{% assign indie_status = "2 years" %}
	{% elsif years_indie < 5 %}
		{% assign indie_status = "3+ years" %}
	{% elsif years_indie < 10 %}
		{% assign indie_status = "5+ years" %}
	{% elsif years_indie < 15 %}
		{% assign indie_status = "10+ years" %}
	{% elsif years_indie < 20 %}
		{% assign indie_status = "15+ years" %}
	{% elsif years_indie < 30 %}
		{% assign indie_status = "20+ years" %}
	{% elsif years_indie < 40 %}
		{% assign indie_status = "30+ years" %}
	{% elsif years_indie < 50 %}
		{% assign indie_status = "40+ years" %}
	{% elsif years_indie < 75 %}
		{% assign indie_status = "50+ years" %}
	{% elsif years_indie < 100 %}
		{% assign indie_status = "75+ years" %}
	{% else %}
		{% assign indie_status = "100+ years" %}
	{% endif %}
{% else %}
	{% assign indie_status = "" %}
{% endif %}

{% comment %}
	Output member card HTML.
{% endcomment %}
<div class="w-100 mv3" id="{{ member_id }}">
	{% if include.standalone %}<div{% else %}<a href="{{ member_url }}"{% endif %} class="flex items-center lh-copy pa3 ba member-box">
		<img class="w3 h3 br-100 ba image-border" src="/members/{{ member_id }}.jpg" alt="{{ professional_name }}" />
		<div class="pl3 pr2 flex-auto">

			{% comment %}
				Member "professional" name. The `pseudo-link` class is
				used to make the card act a bit more like an actual
				link when in "link mode".
			{% endcomment %}
			<small class="db b{% unless include.standalone %} pseudo-link{% endunless %}">{{ professional_name }}</small>

			{% comment %}
				Inset member tagline, if set.
			{% endcomment %}
			{% if tagline != empty %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">{{ tagline }}</small>
			{% endif %}

			{% comment %}
				Inset member "indie status", if set.
			{% endcomment %}
			{% if indie_status != empty %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">Indie status: {{ indie_status }}</small>
			{% endif %}

			{% comment %}
				Inset member "currently" information, if set.
			{% endcomment %}
			{% if currently != empty %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">Currently: {{ currently }}</small>
			{% endif %}

			{% comment %}
				Inset member "previously" information, if set.
			{% endcomment %}
			{% if previously != empty %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">Previously: {{ previously }}</small>
			{% endif %}

			{% comment %}
				Inset member links, if set. Links are separated by " / "
				sequences, and only contain *actual* links when the
				member card is in "data mode" (otherwise, they're just
				for show). Note that we assume that links are provided
				IN ORDER, so a record with a gap in its links will show
				nothing after that gap.
			{% endcomment %}
			{% if url_1_label != empty %}
				<small class="db{% unless include.standalone %} silent-link{% endunless %}">
					{% if include.standalone %}<a href="{{ url_1_url }}">{% endif %}{{ url_1_label }}{% if include.standalone %}</a>{% endif %}
					{% if url_2_label != empty %}
						/ {% if include.standalone %}<a href="{{ url_2_url }}">{% endif %}{{ url_2_label }}{% if include.standalone %}</a>{% endif %}
						{% if url_3_label != empty %}
							/ {% if include.standalone %}<a href="{{ url_3_url }}">{% endif %}{{ url_3_label }}{% if include.standalone %}</a>{% endif %}
						{% endif %}
					{% endif %}
				</small>
			{% endif %}

		</div>

		{% comment %}
			Inset the member's Twitter handle, if set. As with member
			links, we don't *actually* link anything unless the member
			card is in "data mode" (otherwise, this bit is also just for
			show).
		{% endcomment %}
		{% if twitter != empty %}
			<div class="small{% unless include.standalone %} silent-link{% endunless %}">
				{% if include.standalone %}<a href="https://twitter.com/{{ twitter }}">{% endif %}@{{ twitter }}{% if include.standalone %}</a>{% endif %}
			</div>
		{% endif %}

	{% if include.standalone %}</div>{% else %}</a>{% endif %}
</div>
