{% comment %}
	Insert a Google Slide show. Requires a single parameter:

		`gid`
		Google Drive document ID for the Google Slides you want to
		embed.

	The `gid` is the long random string immediately prior to `/edit` in
	the URL for your document (not including the leading or trailing
	`/`).

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% capture slideshow %}
<figure class="ma0">
	<div class="google-slideshow relative">
		<iframe src="https://docs.google.com/presentation/d/{{ include.gid }}/embed?start=false&loop=false&delayms=60000" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" class="w-100 h-100 absolute top-0 left-0 bn"></iframe>
	</div>

	<figcaption class="yak-content"><p>
		<img class="h1" src="/img/google-slides.png">
		<a href="https://docs.google.com/presentation/d/{{ include.gid }}/edit">Open Google Doc</a>
		/
		<img class="h1" src="/img/pdf.png">
		<a href="https://docs.google.com/presentation/d/{{ include.gid }}/export/pdf">Download PDF</a>
	</p></figcaption>
</figure>
{% endcapture %}

{% include widget-breakout-box.html layout="center" extra_class="google-slideshow-wrapper" content=slideshow %}
