{% comment %}
	Project page header/hero.

	By default, this widget assumes that it is included in a project
	homepage, and will use that page's information to determine which
	project pages to display. This can be overridden by passing in a
	project ID as the `project` parameter.

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% comment %}
	Set the current project.
{% endcomment %}
{% if include.project %}
	{% assign project_url = "/projects/" | append: include.project | append: "/" %}
	{% assign project_data = site.pages | find: "url", project_url %}
{% else %}
	{% assign project_data = page %}
{% endif %}

{% comment %}
	Project header/hero. No indentation to prevent Markdown conversion
	weirdness.
{% endcomment %}
{% capture the_content %}<div>
	<header id="{{ project_data.url | replace: '/', ' ' | strip | split: ' ' | last }}-hero" class="yak-project-header relative">
		<div class="hero"></div>
		<div class="yak-content wide">
			<div class="cf ph0 pv5-l pv4">
				<aside class="border-box fn fl-l w-third-l pl5-l pr4-l pb2 pb0-l">
					{% if project_data.type %}
						<div class="project-type small lh-title fw9 mb3 mt0 pt3 bt bw2 sans-serif ttu">{{ project_data.type }}</div>
					{% endif %}

					{% comment %}
						Project date and sequence count (if applicable).
					{% endcomment %}
					{% if project_data.date %}
						<time class="smaller db ttu mb3 tracked-tight">
							{{ project_data.date | date_to_long_string: "ordinal", "US" }} UTC
							{% if project_data.sequence %}
								<br>{% include sequence.txt current_date=project_data.date sequence_id=project_data.sequence %}
							{% endif %}
						</time>
					{% endif %}

					{% comment %}
						Output project credits. Having a `lead_editors`
						entry is HIGHLY recommended, but not strictly
						required. Solution after:

						https://stackoverflow.com/questions/8206869/iterate-over-hashes-in-liquid-templates
					{% endcomment %}
					{% if project_data.credits %}
						{% for credits_block in project_data.credits %}
							{% if credits_block[1].size > 0 %}
								{% assign credits_class = credits_block[0] | replace: "_", "-" | downcase %}
								{% if credits_class != "lead-editors" %}
									{% assign credits_class = "collaborators" %}
								{% endif %}
								{% assign credits_title = credits_block[0] | replace: "_", " " | capitalize %}
								{% assign credits_list = credits_block[1] %}
								<details class="smaller mb3 {{ credits_class }}" open>
									<summary class="ttu lh-title">{{ credits_title }}</summary>
									<p>{% include member-list.html member_list=credits_list link_members=true %}</p>
								</details>
							{% endif %}
						{% endfor %}
					{% endif %}
				</aside>

				{% comment %}
					Main hero banner content: The project title,
					tagline, and above-the-fold summary.
				{% endcomment %}
				<div class="fn fl-l w-two-thirds-l pl4-l pr5-l">
					{% if project_data.title %}<h1 class="ma0 pa0 fw8 f1">{{ project_data.title }}</h1>{% endif %}
					{% if project_data.tagline %}<div class="subhead pt3 pb1 fw4 f3">{{ project_data.tagline }}</div>{% endif %}
					{% if project_data.summary %}<div class="small lh-copy mb3">{{ project_data.summary | markdownify }}</div>{% endif %}
				</div>
			</div>
		</div>
	</header>
</div>{% endcapture %}

{% include widget-breakout-box.html layout="full-bleed" extra_class="yak-project-header-wrapper" content=the_content %}
