{% comment %}
	Generate a slideshow layout, similar to that used on "Idle Words".
	Expects two parameters:

		`image_position`
		OPTIONALLY force a particular layout (`left`, `right`,
		`background`); if not present, then use the `hero_position`
		attribute instead (and fall back to `left` if nothing is
		specified).

		`slide`
		An object containing the relevant slide information (basically,
		an element of `site.pages` that lives in the project-appropriate
		`/projects/*/` directory and has a `page-project-slide` layout).

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% comment %}
	Determine how we should position the slide "hero" image.
{% endcomment %}
{% assign image_position = "left" %}
{% if include.image_position %}
	{% assign image_position = include.image_position %}
{% elsif include.slide.hero_image %}
	{% if include.slide.hero_position %}
		{% assign image_position = include.slide.hero_position %}
	{% endif %}
{% else %}
	{% assign image_position = "none" %}
{% endif %}
{% if image_position != "left" and image_position != "right" and image_position != "none" %}
	{% assign image_position = "left" %}
{% endif %}
{% unless include.slide.hero_image %}
	{% assign image_position = "none" %}
{% endunless %}

{% comment %}
	Push out slide content. Weird indenting is necessary so as not to
	mess with Kramdown's indentation expectations.
{% endcomment %}
{% capture the_content %}
<div{% if page.layout != "page-project-slide" %} id="{{ include.slide.url | replace: '/', ' ' | strip | replace: ' ', '-' }}"{% endif %} class="slide-image-{{ image_position }} cf">
	<div class="slide-image {% if image_position == 'left' %}mt5 mb0 mv5-l{% elsif image_position == 'right' %}mt0 mb5 mv5-l{% endif %}">
		{% if include.slide.hero_image and image_position != "none" %}
			<figure class="ma0">
				<img src="{{ include.slide.hero_image }}"{% if include.slide.hero_description %} alt="{{ include.slide.hero.description | markdownify | strip_html | strip }}"{% endif %}{% if include.slide.hero_border %} class="image-border ba"{% endif %}>
				{% if include.slide.hero_caption %}
					<figcaption class="yak-content">
						{{ include.slide.hero_caption | markdownify }}
					</figcaption>
				{% endif %}
			</figure>
		{% endif %}
	</div>
	<div class="slide-content mb5">
		{% if page.layout == "page-project-slide" %}
			<h1>{{ include.slide.title | markdownify }}</h1>
		{% else %}
			<h2><a href="{{ include.slide.url }}">{{ include.slide.title | markdownify }}</a></h2>
		{% endif %}

		{{ include.slide.content | markdownify }}

		{% if include.slide.author %}
			{% assign author_url = "/members/" | append: include.slide.author | append: "/" %}
			{% assign author = site.pages | find: "url", author_url %}
			{% if author %}
				<p class="slide-author">(<a href="{{ author.url }}">{{ author.title }}</a>)</p>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endcapture %}
{% include widget-breakout-box.html layout="full-bleed" extra_class="yak-slide-wrapper" content=the_content %}
