/* Fix links in callout headers */

.callout .callout-title a {
	font-weight: inherit;
	color: inherit !important;
	text-decoration: inherit;
}

.callout .internal-embed.media-embed.image-embed.is-loaded {
	margin-top: var(--p-spacing);
}
