html, body {
	font-size: 14px !important;
	--font-text-size: 14px !important;
}

.external-link {
	background-size: 11px;
	padding-inline-end: 14px;
	background-position-y: 5px;
}

.dataview.inline-field-value .external-link,
.footnotes .external-link {
	background-size: 9px;
	padding-inline-end: 11px;
	background-position-y: 5px;
}

.footnotes p,
.footnotes ol li p:last-of-type {
	margin-block-start: var(--footnote-size);
	margin-block-end: var(--footnote-size);
}
