.callout[data-callout="project"] {
	--callout-color: 210, 132, 0;
	--callout-icon: lucide-library;
}

.callout[data-callout="study-group"] {
	--callout-color: 210, 132, 0;
	--callout-icon: lucide-users;
}

.callout[data-callout="work-group"] {
	--callout-color: 210, 132, 0;
	--callout-icon: lucide-cog;
}

/*
 * Inactive projects. Every block above needs to be duplicated below,
 * but with an "inactive-" prefix and using "158, 158, 158" for
 * --callout-color rather than "210, 132, 0".
 */

.callout[data-callout="inactive-project"] {
	--callout-color: 158, 158, 158;
	--callout-icon: lucide-library;
}

.callout[data-callout="inactive-study-group"] {
	--callout-color: 158, 158, 158;
	--callout-icon: lucide-users;
}

.callout[data-callout="inactive-work-group"] {
	--callout-color: 158, 158, 158;
	--callout-icon: lucide-cog;
}

/*
 * Astonishing Stories
 */

 .callout[data-callout="story"] {
	--callout-color: 158, 158, 158;
	--callout-icon: lucide-book-marked;
}

/*
 * Future Frontiers
 */

 .callout[data-callout="on-horizons"] {
	--callout-color: 252, 251, 248;
	--callout-icon: lucide-book-marked;
}

.callout[data-callout="democratized-underwater-exploration"] {
	--callout-color: 25, 150, 175;
	--callout-icon: lucide-book-marked;
}

.callout[data-callout="the-promise-of-nanosatellites-for-developing-nations"] {
	--callout-color: 75, 100, 125;
	--callout-icon: lucide-book-marked;
}

.callout[data-callout="starship-gold-rush"] {
	--callout-color: 175, 100, 125;
	--callout-icon: lucide-book-marked;
}

.callout[data-callout="designer-metabolism-and-minds"] {
	--callout-color: 200, 100, 50;
	--callout-icon: lucide-book-marked;
}
