.callout[data-callout="project"] {
	--callout-color: rgb(210, 132, 0);
	--callout-icon: lucide-library;
}

.callout[data-callout="study_group"] {
	--callout-color: rgb(210, 132, 0);
	--callout-icon: lucide-users;
}

.callout[data-callout="work_group"] {
	--callout-color: rgb(210, 132, 0);
	--callout-icon: lucide-cog;
}

/*
 * Inactive projects. Every block above needs to be duplicated below,
 * but with an "inactive-" prefix and using `rgb(158, 158, 158)` for
 * --callout-color rather than `rgb(210, 132, 0)`.
 */

.callout[data-callout="inactive_project"] {
	--callout-color: rgb(158, 158, 158);
	--callout-icon: lucide-library;
}

.callout[data-callout="inactive_study_group"] {
	--callout-color: rgb(158, 158, 158);
	--callout-icon: lucide-users;
}

.callout[data-callout="inactive_work_group"] {
	--callout-color: rgb(158, 158, 158);
	--callout-icon: lucide-cog;
}

/*
 * Astonishing Stories
 */

.callout[data-callout="story"] {
	--callout-color: rgb(158, 158, 158);
	--callout-icon: lucide-book-open-text;
}

/*
 * Future Frontiers
 */

.callout[data-callout="on_horizons"] {
	--callout-color: rgb(191, 169, 105);
	--callout-icon: lucide-sparkles;
}

.callout[data-callout="democratized_underwater_exploration"] {
	--callout-color: rgb(25, 150, 175);
	--callout-icon: lucide-waves;
}

.callout[data-callout="the_promise_of_nanosatellites_for_developing_nations"] {
	--callout-color: rgb(75, 100, 125);
	--callout-icon: lucide-satellite;
}

.callout[data-callout="starship_gold_rush"] {
	--callout-color: rgb(175, 100, 125);
	--callout-icon: lucide-rocket;
}

.callout[data-callout="designer_metabolism_and_minds"] {
	--callout-color: rgb(200, 100, 50);
	--callout-icon: lucide-brain;
}