{% comment %}
	Given an array of Knack member IDs, return a list of professional
	names, optionally hyperlinked to the correct member page.

	Expects two parameters:

		`member_list`
		An array of one or more member IDs (or optionally full names,
		but these aren't linked).

		`link_members`
		Truthy/Falsy directive (in the Liquid sense) indicating whether
		or not member names should be linked to member pages.
{% endcomment %}

{% assign total_members = include.member_list.size %}

{% if total_members == 1 %}
	{% assign member_id = include.member_list[0] %}
	{% assign member_url = "/members/" | append: member_id | append: ".html" %}
	{% assign member = site.data.knack_yaks.records | find: "field_101_raw", member_id %}

	{% if member %}
		{% if include.link_members %}<a href="{{ member_url }}">{% endif %}{{ member.field_97_raw | strip | replace: " ", "&nbsp;" }}{% if include.link_members %}</a>{% endif %}
	{% else %}
		<span class="unlinked-member">{{ member_id | replace: " ", "&nbsp;" }}</span>
	{% endif %}
{% elsif total_members == 2 %}
	{% assign first_member_id = include.member_list[0] %}
	{% assign first_member_url = "/members/" | append: first_member_id | append: ".html" %}
	{% assign first_member = site.data.knack_yaks.records | find: "field_101_raw", first_member_id %}
	{% assign second_member_id = include.member_list[1] %}
	{% assign second_member_url = "/members/" | append: second_member_id | append: ".html" %}
	{% assign second_member = site.data.knack_yaks.records | find: "field_101_raw", second_member_id %}

	{% if first_member %}
		{% if include.link_members %}<a href="{{ first_member_url }}">{% endif %}{{ first_member.field_97_raw | strip | replace: " ", "&nbsp;" }}{% if include.link_members %}</a>{% endif %}
	{% else %}
		<span class="unlinked-member">{{ first_member_id | replace: " ", "&nbsp;" }}</span>
	{% endif %}
	&amp;
	{% if second_member %}
		{% if include.link_members %}<a href="{{ second_member_url }}">{% endif %}{{ second_member.field_97_raw | strip | replace: " ", "&nbsp;" }}{% if include.link_members %}</a>{% endif %}
	{% else %}
		<span class="unlinked-member">{{ second_member_id | replace: " ", "&nbsp;" }}</span>
	{% endif %}
{% else %}
	{% assign last_member = include.member_list.last %}
	{% for member_id in include.member_list %}
		{% assign member_url = "/members/" | append: member_id | append: ".html" %}
		{% assign member = site.data.knack_yaks.records | find: "field_101_raw", member_id %}

		{% if member %}
			{% if include.link_members %}<a href="{{ member_url }}">{% endif %}{{ member.field_97_raw | strip | replace: " ", "&nbsp;" }}{% if include.link_members %}</a>{% endif %}{% unless member_id == last_member %}, {% endunless %}
		{% else %}
			<span class="unlinked-member">{{ member_id | replace: " ", "&nbsp;" }}</span>{% unless member_id == last_member %}, {% endunless %}
		{% endif %}
	{% endfor %}
{% endif %}
