{% comment %}
	"Idle Words" style "infinity" slide deck. Assumes that it has been
	called from a project page unless a project ID is explicitly
	specified using the `project` parameter. Accepts a number of
	parameters that map to inputs in `widget-slide.html` (and a couple
	more general ones):

		`hero_position`
		Position the `hero_image` on the `left` or `right` for all
		slides. If unset or invalid, use the value specified by the
		slide itself.

		`slide_separator`
		Liquid truthy/falsy parameter indicating whether or not to add a
		border between slides.

		`slide_align`
		Should slide left/right image and content be `top`, `bottom`, or
		`center` aligned? If unset or invalid, use the value specified
		by the slide itself.

		`title_links`
		Controls how slide titles should be linked. One of `internal`
		(links to the anchor of the current slide), `external` (links
		to the stand-alone slide page), or `none` (no link). If unset or
		invalid, defaults to `external`.

		`show_dates`
		Liquid truthy/falsy value indicating whether or not slide dates
		should be displayed.

		`collapse_slides`
		Liquide truthy/falsy value indicating whether or not slide
		titles and authors should be suppressed if identical between
		sequential slides.

		`table_of_contents`
		Liquid truthy/falsy value indicating whether a table of contents
		for the deck should be generated.

		`table_of_contents_hero`
		Image to use for the table of contents slide. If unset, defaults
		to the project hero.

		`table_of_contents_hero_description`
		Image alt text for the table of contents slide. If unset, use
		project title.

		`table_of_contents_hero_caption`
		Image caption for the table of contents slide.

	Note that this widget outputs HTML in a safe way, and is thus
	suitable for inclusion in both Markdown and HTML pages.
{% endcomment %}

{% comment %}
	Set the current project.
{% endcomment %}
{% if include.project %}
	{% assign project_url = "/projects/" | append: include.project | append: ".html" %}
	{% assign project_data = site.pages | find: "url", project_url %}
	{% assign project_id = include.project %}
{% else %}
	{% assign project_data = page %}
	{% assign project_id = page.url | replace: ".html", "" | replace: "/", " " | strip | split: " " | last %}
{% endif %}

{% comment %}
	Set defaults.
{% endcomment %}
{% if include.hero_position == "left" %}
	{% assign the_hero_position = "left" %}
{% elsif include.hero_position == "right" %}
	{% assign the_hero_position = "right" %}
{% else %}
	{% assign the_hero_position = "-" %}
{% endif %}

{% if include.slide_separator %}
	{% assign the_slide_separator = true %}
{% else %}
	{% assign the_slide_separator = false %}
{% endif %}

{% if include.slide_align == "top" %}
	{% assign the_slide_align = "top" %}
{% elsif include.slide_align == "bottom" %}
	{% assign the_slide_align = "bottom" %}
{% elsif include.slide_align == "center" %}
	{% assign the_slide_align = "center" %}
{% else %}
	{% assign the_slide_align = "-" %}
{% endif %}

{% if include.title_links == "none" %}
	{% assign the_title_links = "none" %}
{% elsif include.title_links == "internal" %}
	{% assign the_title_links = "internal" %}
{% else %}
	{% assign the_title_links = "external" %}
{% endif %}

{% if include.show_dates %}
	{% assign the_show_dates = true %}
{% else %}
	{% assign the_show_dates = false %}
{% endif %}

{% if include.collapse_slides %}
	{% assign the_collapse_slides = true %}
{% else %}
	{% assign the_collapse_slides = false %}
{% endif %}

{% if include.table_of_contents %}
	{% assign the_table_of_contents = true %}
{% else %}
	{% assign the_table_of_contents = false %}
{% endif %}

{% if include.table_of_contents_hero %}
	{% assign the_table_of_contents_hero = include.table_of_contents_hero %}
{% elsif project_data.hero_image %}
	{% assign the_table_of_contents_hero = project_data.hero_image %}
{% else %}
	{% assign the_table_of_contents_hero = "/Assets/Yak%20Trail.webp" %}
{% endif %}

{% if include.table_of_contents_hero_description %}
	{% assign the_table_of_contents_hero_description = include.table_of_contents_hero_description | markdownify | strip_html | strip %}
{% else %}
	{% assign the_table_of_contents_hero_description = project_data.title | markdownify | strip_html | strip %}
{% endif %}

{% if include.table_of_contents_hero_caption %}
	{% assign the_table_of_contents_hero_caption = include.table_of_contents_hero_caption | markdownify %}
{% else %}
	{% assign the_table_of_contents_hero_caption = false %}
{% endif %}

{% comment %}
	Generate a list of project pages associated with the current
	project.
{% endcomment %}
{% assign project_slides = "" | split: "" %}
{% for the_page in site.pages %}
	{% if the_page.layout == "page-project-slide" %}
		{% assign path_array = the_page.url | replace: ".html", "" | replace: "/", " " | strip | split: " " %}
		{% if path_array[1] == project_id %}
			{% unless the_page.hidden %}
				{% assign project_slides = project_slides | push: the_page %}
			{% endunless %}
		{% endif %}
	{% endif %}
{% endfor %}
{% assign project_slides = project_slides | sort: "url" %}

{% comment %}
	Output project slides (if they exist).
{% endcomment %}
{% if project_slides.size > 0 %}

	{% comment %}
		Generate a table of contents, if applicable.
	{% endcomment %}
	{% if the_table_of_contents %}
		{% if the_hero_position == "-" %}
			{% assign the_table_of_contents_hero_position = "left" %}
		{% else %}
			{% assign the_table_of_contents_hero_position = the_hero_position %}
		{% endif %}
		{% if the_slide_align == "-" %}
			{% assign the_table_of_contents_slide_align = "center" %}
		{% else %}
			{% assign the_table_of_contents_slide_align = the_slide_align %}
		{% endif %}
		{% assign use_sections = false %}
		{% for ps in project_slides %}
			{% if ps.section %}
				{% assign use_sections = true %}
				{% break %}
			{% endif %}
		{% endfor %}
		{% capture the_content %}<div>
			<h2 class="slide-deck-visible-anchor"><a href="#table-of-contents">Table of Contents</a></h2>
			<ul>
				{% assign current_toc_section = "-" %}
				{% assign current_toc_title = "-" %}
				{% assign inside_section = false %}
				{% for ps in project_slides %}
					{% if ps.section %}
						{% assign the_toc_section = ps.section %}
					{% else %}
						{% assign the_toc_section = "-" %}
					{% endif %}
					{% if current_toc_section != the_toc_section %}
						{% if inside_section %}</ul></li>{% endif %}
						<li><strong><a href="#{{ the_toc_section | slugify }}">{{ the_toc_section }}</a></strong><ul>
						{% assign current_toc_section = the_toc_section %}
						{% assign inside_section = true %}
					{% endif %}
					{% if current_toc_title != ps.title %}
						<li><a href="#{{ ps.url | replace: '.html', '' | replace: '/', ' ' | strip | replace: ' ', '-' }}">{% if use_sections %}{% unless inside_section %}<strong>{% endunless %}{% endif %}{{ ps.title }}{% if use_sections %}{% unless inside_section %}</strong>{% endunless %}{% endif %}</a></li>
						{% assign current_toc_title = ps.title %}
					{% endif %}
				{% endfor %}
				{% if use_sections %}</ul></li>{% endif %}
			</ul>
		</div>{% endcapture %}
		{% include widget-slide.html
		   hero_image=the_table_of_contents_hero
		   hero_position=the_table_of_contents_hero_position
		   hero_description=the_table_of_contents_hero_description
		   hero_caption=the_table_of_contents_hero_caption
		   hero_border=true
		   slide_content=the_content
		   slide_separator=false
		   slide_align=the_table_of_contents_slide_align
		   slide_id="table-of-contents"
		%}
	{% endif %}

	{% assign current_section = "-" %}
	{% assign current_title = "-" %}
	{% assign current_date = "-" %}
	{% assign current_author = "-" %}
	{% assign current_page_bg_color = "-" %}
	{% assign start_separators = false %}
	{% for ps in project_slides %}

		{% comment %}
			Output a section header whenever a section header is (a)
			present and (b) different from the previous section header.
		{% endcomment %}
		{% if ps.section %}
			{% assign the_section = ps.section %}
		{% else %}
			{% assign the_section = "-" %}
		{% endif %}
		{% if the_section != "-" and the_section != current_section %}
			{% capture the_content %}<div>
				<h2 id="{{ the_section | slugify }}" class="slide-deck-visible-anchor mv5"><a href="#{{ the_section | slugify }}">{{ the_section }}</a></h2>
			</div>{% endcapture %}
			{% include widget-breakout-box.html layout="full-bleed" extra_class="yak-slide-deck-section-header" content=the_content %}
		{% endif %}
		{% assign current_section = the_section %}

		{% comment %}
			Construct slide content.
		{% endcomment %}
		{% assign the_title = ps.title %}
		{% if ps.date %}
			{% assign the_date = ps.date | date_to_long_string: "ordinal", "US" %}
		{% else %}
			{% assign the_date = "-" %}
		{% endif %}
		{% if ps.author %}
			{% assign the_author = ps.author %}
		{% else %}
			{% assign the_author = "-" %}
		{% endif %}
		{% assign slide_id = ps.url | replace: ".html", "" | replace: "/", " " | strip | replace: " ", "-" %}
		{% assign output_title_block = true %}
		{% if the_collapse_slides and the_title == current_title and the_date == current_date and the_author == current_author%}
			{% assign output_title_block = false %}
		{% endif %}
		{% capture the_content %}<div>
			{% if output_title_block %}
				<h3 class="slide-deck-visible-anchor">{% if the_title_links != "none" %}<a href="{% if the_title_links == 'internal' %}#{{ slide_id }}{% elsif the_title_links == 'external' %}{{ ps.url }}{% endif %}">{% endif %}{{ the_title }}{% if the_title_links != "none" %}</a>{% endif %}</h3>
				{% if the_show_dates and the_date != "-" %}
					<time class="db small ttu tracked-tight">{{ the_date }}</time>
				{% endif %}
				{% if the_author != "-" %}
					{% assign member_url = "/members/" | append: the_author | append: ".html" %}
					{% assign member = site.data.knack_yaks.records | find: "field_101_raw", the_author %}
					<p class="slide-author mv1 small ttu tracked-tight"><a href="{{ member_url }}">{{ member.field_97_raw | strip | replace: " ", "&nbsp;" }}</a></p>
				{% endif %}
				{% if ps.tags %}
					{% assign last_tag = ps.tags.last %}
					<p class="slide-tags mv1 small ttl tracked-tight">
						{% for tag in ps.tags %}
							#{{ tag | replace: " ", "&nbsp;" }}{% unless tag == last_tag %},{% endunless %}
						{% endfor %}
					</p>
				{% endif %}
			{% endif %}
			{{ ps.content | markdownify }}
		</div>{% endcapture %}
		{% assign current_title = the_title %}
		{% assign current_date = the_date %}
		{% assign current_author = the_author %}

		{% comment %}
			Construct and output slide.
		{% endcomment %}
		{% assign slide_hero_image = ps.hero_image %}
		{% assign slide_hero_position = "-" %}
		{% if the_hero_position == "-" %}
			{% if ps.hero_position %}
				{% assign slide_hero_position = ps.hero_position%}
			{% endif %}
		{% else %}
			{% assign slide_hero_position = the_hero_position %}
		{% endif %}
		{% if ps.hero_description %}
			{% assign slide_hero_description = ps.hero_description | markdownify | strip_html | strip %}
		{% else %}
			{% assign slide_hero_description = ps.title | markdownify | strip_html | strip %}
		{% endif %}
		{% assign slide_hero_caption = ps.hero_caption | markdownify %}
		{% assign slide_hero_border = ps.hero_border %}
		{% if the_slide_align == "-" %}
			{% if ps.slide_align %}
				{% assign current_slide_align = ps.slide_align%}
			{% endif %}
		{% else %}
			{% assign current_slide_align = the_slide_align %}
		{% endif %}
		{% assign the_page_bg_color = "-" %}
		{% if ps.page_bg_color %}
			{% assign the_page_bg_color = ps.page_bg_color %}
		{% endif %}
		{% if start_separators and the_slide_separator and the_page_bg_color == current_page_bg_color %}
			{% assign current_slide_separator = true %}
		{% else %}
			{% assign current_slide_separator = false %}
		{% endif %}
		{% assign current_page_bg_color = the_page_bg_color %}
		{% include widget-slide.html
		   hero_image=slide_hero_image
		   hero_position=slide_hero_position
		   hero_description=slide_hero_description
		   hero_caption=slide_hero_caption
		   hero_border=slide_hero_border
		   slide_content=the_content
		   slide_separator=current_slide_separator
		   slide_align=current_slide_align
		   slide_id=slide_id
		%}
		{% assign start_separators = true %}
	{% endfor %}
{% endif %}
