{% comment %}
	A full-page `<iframe/>`, less website header and footer. If you use
	this widget, it should be the *ONLY* thing on the page!

	No text. No images. Nothing but this one widget. Use the `title`
	property of the page YAML front matter to set the page title.

	Why would you want such a thing as this? Well, Maier really thinks
	we should have a tool like this. If you've made a fancy multimedia
	project on another site, and want to embed it in the Yak Collective
	website, then this is probably the widget for you. Otherwise, you're
	probably further ahead just building a project homepage and any
	associated project pages using Markdown + other, more well-behaved
	widgets.

	Expects a single parameter, `url`, which will determine what gets
	embedded in the page `<iframe/>`.
{% endcomment %}

<div id="yak-iframe-widget w-100 absolute top-0 left-0"><iframe src="{{ include.url }}" class="w-100 h-100 bn"></iframe></div>
