html,
body {
	color: rgba(255,255,255,1.00);
	background-color: rgba(0,0,0,1.0);
}

a {
	color: rgba(255,255,255,0.70);
}

footer {
	color: rgba(255,255,255,0.60);
	border-top-color: rgba(255,255,255,0.25);
}

footer a {
	color: rgba(255,255,255,0.80);
}

details {
	color: rgba(255,255,255,0.60);
}

time {
	color: rgba(255,255,255,0.75);
}

a.yak-logo .yak-logo-image {
	content: url("/assets/yak-logo-black-bg-cutout.png");
	background-color: rgba(255,255,255,0.85);
}

.member-box,
.project-box,
.project-box .hero {
	border-color: rgba(255,255,255,0.25);
}

.project-box .silent-link,
.project-box .silent-link:hover {
	color: rgba(255,255,255,1.00);
}

.member-box {
	color: rgba(255,255,255,0.70);
}

a.member-box {
	color: rgba(255,255,255,0.70);
}

.member-box .silent-link,
.member-box .silent-link:hover {
	color: rgba(255,255,255,0.70);
}

.lead-editors {
	color: rgba(255,255,255,1.00);
}

.collaborators {
	color: rgba(255,255,255,0.75);
}

.toc {
	background-color: rgba(255,255,255,0.10);
}
