html {
	height: 100%;
}

body {
	font-family:"Noto Serif SC";
	padding: 0px;
	margin: 0px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.fill-space {
	flex: 1;
}

.container h2{
	padding-top: 40px;
}

a.yak-link-override,
a.yak-link-override:hover {
	box-shadow: none;
}

.yak-post pre {
	white-space: pre-wrap;
}

.yak-post img {
	max-width: 100% !important;
}

.yak-post div.tweet,
.yak-post div.youtube-wrap,
.yak-post a.image-link {
	margin-inline-start: 40px;
	margin-block-end: 1em;
	display: block;
	max-width: calc(100% - 40px);
}

.yak-post li div.tweet,
.yak-post li div.youtube-wrap,
.yak-post li a.image-link {
	margin-inline-start: 0;
	margin-block-end: 1em;
	display: block;
	max-width: 100%;
}

ul a,
ol a,
p a,
form a,
.mobilemenu a,
.next,
.previous,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.yak-post a {
	text-decoration: none;
	transition: ease-in .05s border-bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display";
	font-weight: 400;
}

.subhead {
	font-family: "Playfair Display";
}

.yak-project-header aside {
	box-sizing: border-box;
}

.yak-project-header aside a,
.yak-project-header aside a:hover {
	box-shadow: none;
}

.projectbox {
	text-decoration: none;
	display: block;
}

.projectbox time {
	display: block;
}

.toc {
	padding: 40px;
	font-size: 16px;
}

.toc li {
	padding-top: 5px;
	padding-bottom: 5px;
}
