html {
	height: 100%;
	z-index: -2;
}

body {
	font-family:"Noto Serif SC";
	color: rgba(0,0,0,1.00);
	background-color: rgba(255,255,255,1.0);
	padding: 0px;
	margin: 0px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	z-index: -2;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: rgba(0,0,0,0.75);
	text-decoration-line: none;
}

a:hover {
	text-decoration-line: underline;
}

.fill-space {
	flex: 1;
}

input,
select {
	color: rgba(0,0,0,1.00);
	background-color: rgba(255,255,255,1.0);
	border-color: rgba(0,0,0,0.15);
}

footer {
	color: rgba(0,0,0,0.60);
	border-top-color: rgba(0,0,0,0.15);
}

footer a {
	color: rgba(0,0,0,0.85);
}

#footer-slogan, #footer-slogan:hover {
	color: rgba(0,0,0,0.60);
	text-decoration: none;
}

time,
details,
.details,
.collaborators {
	color: rgba(0,0,0,0.65);
}

a.yak-logo .yak-logo-image {
	content: url("/assets/yak-logo-white-bg-cutout.png");
	background-color: rgba(0,0,0,0.85);
}

.container h2{
	padding-top: 40px;
}

.yak-post pre {
	white-space: pre-wrap;
}

.yak-post img {
	max-width: 100% !important;
}

.yak-post div.tweet,
.yak-post div.youtube-wrap,
.yak-post a.image-link {
	margin-inline-start: 40px;
	margin-block-end: 1em;
	display: block;
	max-width: calc(100% - 40px);
}

.yak-post li div.tweet,
.yak-post li div.youtube-wrap,
.yak-post li a.image-link {
	margin-inline-start: 0;
	margin-block-end: 1em;
	display: block;
	max-width: 100%;
}

.yak-content a {
	color: inherit;
	text-decoration-line: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display";
	font-weight: 400;
}

.subhead {
	font-family: "Playfair Display";
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration-line: none !important;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration-line: underline !important;
}

.yak-project-header aside {
	box-sizing: border-box;
}

.member-box,
.project-box,
.project-box .hero {
	border-color: rgba(0,0,0,0.15);
}

.project-box .silent-link,
.project-box .silent-link:hover {
	color: rgba(0,0,0,1.00);
}

.project-box {
	display: block;
}

.project-box time {
	display: block;
}

.member-box {
	color: rgba(0,0,0,0.70);
}

a.member-box,
a.project-box {
	text-decoration: none;
}

a.member-box {
	color: rgba(0,0,0,0.70);
}

.member-box .silent-link,
.member-box .silent-link:hover {
	color: rgba(0,0,0,0.70);
}

.pseudo-link {
	text-decoration-line: underline;
}

.lead-editors {
	color: rgba(0,0,0,1.00);
}

.toc,
.submit {
	background-color: rgba(0,0,0,0.05);
}

.toc {
	padding: 40px;
	font-size: 16px;
}

.toc li {
	padding-top: 5px;
	padding-bottom: 5px;
}
