<!DOCTYPE html>

{% comment %}
	"Default" template for yakcollective.org, including HTML header,
	page navigation elements, and page footer. Intended to be called as
	a wrapper around more specialized templates.
{% endcomment %}

<html lang="en" class="h-100">
	<head>
		{% comment %}
			Static site header data.
		{% endcomment %}
		<meta charset="utf-8">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@yak_collective">
		<meta name="viewport" content="width=device-width">
		<meta property="og:type" content="article" />
		<link rel="icon" href="/img/favicon.webp" />

		{% comment %}
			If an RSS feed exists at `/the/current/path/feed.xml` or any
			parent path (`/the/current/feed.xml`, `/the/feed.xml`), link
			it. We don't link multiple feeds, just the first one we
			find.
		{% endcomment %}
		{% assign path_array = page.url | replace: ".html", "" | replace: "/", " " | strip | split: " " %}
		{% assign path_max_index = path_array.size | minus: 1 %}
		{% for path_index in (0..path_max_index) %}
			{% assign new_path = "/" %}
			{% assign new_path_max_index = path_max_index | minus: path_index %}
			{% for new_path_index in (0..new_path_max_index) %}
				{% assign new_path = new_path | append: path_array[new_path_index] | append: "/" %}
			{% endfor %}
			{% assign rss_path = new_path | append: "feed.xml" %}
			{% assign rss_page = site.pages | find: "url", rss_path %}
			{% if rss_page %}
				{% assign the_title = page.title %}
				{% assign the_page = site.pages | find: "url", new_path %}
				{% if the_page %}
					{% assign the_title = the_page.title %}
				{% endif %}
				{% assign rss_title = "RSS feed for " | append: the_title %}
				{% break %}
			{% endif %}
		{% endfor %}

		{% comment %}
			Catch any site-wide RSS feed.
		{% endcomment %}
		{% unless rss_title %}
			{% assign rss_path = "/feed.xml" %}
			{% assign rss_page = site.pages | find: "url", rss_path %}
			{% if rss_page %}
				{% assign rss_title = "RSS feed for " | append: site.name %}
			{% endif %}
		{% endunless %}

		{% comment %}
			Output an RSS feed links, if applicable.

			We test on `rss_title` because this is only set if the
			corresponding path exists in `site.pages`, whereas the path
			itself may be left over from an earlier (failed) test.
		{% endcomment %}
		{% if rss_title %}
			<link rel="alternate" type="application/rss+xml" title="{{ rss_title }}" href="{{ rss_path }}">
		{% endif %}

		<link rel="alternate" type="application/rss+xml" title="Yak Talk" href="https://yakcollective.substack.com/feed">
		<link rel="alternate" type="application/rss+xml" title="Yak Collective Member Writings" href="/writings.xml">

		{% comment %}
			Set the page description. We do this in a single line to
			avoid any weird whitespace in the tag. Pseudocode:

			If page.description exists, then
				Use page.description
			Else page.summary exsits, then
				Grab the first 20 words of page.summary and strip any
				Markdown and HTML characters
			Else if page.content is non-empty, then
				Grab the first 20 words of page.content and strip any
				Markdown and HTML characters
			Else if page.subtitle exists, then
				Use page.subtitle
			Else if page.tagline exists, then
				Use page.tagline
			Else if site.description exists, then
				Grab the first 20 words of site.description and strip
				any Markdown and HTML characters
			Else
				Just use site.name

			The final "else" is just belt-and-suspenders material, and
			should never be reached during a (non-broken) build.
		{% endcomment %}
		{% capture the_description %}{% if page.description %}{{ page.description | markdownify | strip_html | strip }}{% elsif page.summary %}{{ page.summary | truncatewords: 20 | markdownify | strip_html | strip }}{% elsif page.bio_short %}{{ page.bio_short | markdownify | strip_html | strip }}{% elsif page.content.length > 0 %}{{ page.content | truncatewords: 20 | strip_html | strip }}{% elsif page.subtitle %}{{ page.subtitle }}{% elsif page.tagline %}{{ page.tagline }}{% elsif site.description %}{{ site.description | truncatewords: 20 | strip }}{% else %}{{ site.name }}{% endif %}{% endcapture %}
		<meta name="description" content="{{ the_description }}">
		<meta name="twitter:description" content="{{ the_description }}">

		{% comment %}
			Use page.title, or else site.name, for the page title.
		{% endcomment %}
		{% capture the_title %}{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}{% endcapture %}
		<title>{{ the_title }}</title>
		<meta property="og:title" content="{{ the_title }}" />
		<meta name="twitter:title" content="{{ the_title }}">

		{% comment %}
			Preconnect hints (for fonts & styles).
		{% endcomment %}
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://unpkg.com" crossorigin>

		{% comment %}
			CSS magic.
		{% endcomment %}
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,700;1,700&display=swap">
		<link rel="stylesheet" href="https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css">
		<link rel="stylesheet" href="/css/layout.css">
		<link rel="stylesheet" href="/css/layout-30.css" media="(min-width: 30em)">
		<link rel="stylesheet" href="/css/layout-40.css" media="(min-width: 40em)">
		<link rel="stylesheet" href="/css/layout-60.css" media="(min-width: 60em)">
		<link rel="stylesheet" href="/css/layout-80.css" media="(min-width: 80em)">
		{% if page.page_text_color == "white" %}
			<link rel="stylesheet" href="/css/color-black.css">
		{% elsif page.page_text_color == "black" %}
			<link rel="stylesheet" href="/css/color-white.css">
		{% else %}
			<link rel="stylesheet" href="/css/color-white.css">
			<!--
			<link rel="stylesheet" href="/css/color-white.css" media="(prefers-color-scheme: light)">
			<link rel="stylesheet" href="/css/color-black.css" media="(prefers-color-scheme: dark)">
			-->
		{% endif %}

		{% comment %}
			Override page background color, if specified.
		{% endcomment %}
		{% if page.page_bg_color %}
			<style type="text/css">
				body,
				input,
				select,
				footer,
				.yak-nav,
				.box-interior,
				.yak-nav-wrapper,
				.column-background {
					background-color: rgba({{ page.page_bg_color }},1.0);
				}
			</style>
		{% endif %}
		<link rel="stylesheet" href="/css/per-project.css">

		{% comment %}
			Include per-page `page.page_css` attribute. Currently only
			used by project pages (but could also be used elsewhere).
			We load it last so we can guarantee that CSS overrides work
			correctly.
		{% endcomment %}
		{% if page.page_css %}
			<link rel="stylesheet" href="{{ page.page_css }}">
		{% endif %}

		{% comment %}
			Determine the image that should be associated with the page
			(for Twitter and Facebook), as well as the page author (just
			for Twitter).

			We start by assigning some sensible defaults:
			@yak_collective for the page author and the "wandering yak"
			cartoon for the page image.

			Then...

			If `page.author` is set, pull the author from
			`site.data.knack_yaks.records` and use their Twitter handle
			and avatar (if set).

			If the page is a member page, pull the member's Twitter
			handle and avatar (if set). (The member isn't *really* the
			page author in this case, but we still want to associate
			this page with them.)

			Finally, if the page has a "hero image" associated with it,
			set the page image to that, regardless of what else is going
			on.
		{% endcomment %}
		{% assign page_author = "yak_collective" %}
		{% assign page_image ="__SITE_BASE_URL__/img/yak-og.webp" %}
		{% if page.author %}
			{% assign member = site.data.knack_yaks.records | find: "field_101_raw", page.author %} 
			{% if member %}
				{% assign twitter = member.field_43_raw | strip %}
				{% if twitter != empty %}
					{% assign page_author = twitter %}
				{% endif %}
				{% assign page_image = "__SITE_BASE_URL__/members/" | append: page.author | append: "-og.webp" %}
			{% endif %}
		{% elsif page.field_101_raw %}
			{% assign twitter = page.field_43_raw | strip %}
			{% if twitter != empty %}
				{% assign page_author = twitter %}
			{% endif %}
			{% assign page_image = "__SITE_BASE_URL__/members/" | append: page.author | append: "-og.webp" %}
		{% endif %}
		{% if page.hero_image %}
			{% assign page_image = page.hero_image | prepend: "__SITE_BASE_URL__" %}
		{% endif %}
		<meta name="twitter:creator" content="@{{ page_author }}">
		<meta name="twitter:image" content="{{ page_image }}">
		<meta property="og:image" content="{{ page_image }}" />

		{% comment %}
			Canonical page URL for Facebook.
		{% endcomment %}
		<meta property="og:url" content="__SITE_BASE_URL__{{ page.url }}" />
	</head>

	<body class="w-100 min-h-100 pa0 ma0 f4-l center relative flex flex-column">

		<div class="fill-space flex flex-auto flex-column">

			<div class="yak-nav-wrapper w-100">
				<nav class="yak-nav db dt-l w-100 border-box pa3 ph5-l mw9 center">
					<a class="yak-logo link db dtc-l v-mid w-100 w-10-l tc tl-l mb1 mb0-l" href="/index.html" title="{{ site.name }}">
						<div class="dib yak-logo-image"></div>
					</a>
					<div class="db dtc-l v-mid w-100 w-90-l tc tr-l">
						<a class="link dib mv2 mh3" href="/members.html">Member&nbsp;Directory</a>
						<a class="link dib mv2 mh3" href="/study-groups.html">Study&nbsp;Groups</a>
						<a class="link dib mv2 mh3" href="/projects.html">Projects</a>
						<a class="link dib mv2 mh3" href="/writings.html">Writings</a>
						<a class="link dib mv2 mh3" href="/newsletter.html">Newsletters</a>
						<a class="link dib mv2 mh3" href="https://www.youtube.com/channel/UC9bngPbXMEZ8ivD1GHJ94aw">Recordings</a>
						<a class="link dib mv2 mh3" href="/about.html">About</a>
						<a class="link dib mv2 mh3" href="https://yak.knack.com/yaks#yak-profile/">Member&nbsp;Portal</a>
						<a class="link dib mv2 mh3" href="/join.html">Join&nbsp;Us!</a>
					</div>
				</nav>
			</div>

			<div class="column-background-wrapper w-100 h-100 fixed top-0 left-0"><div class="column-background h-100"></div></div>

			<article id="{{ page.url | replace: '.html', '' | replace: '/', ' ' | strip | replace: ' ', '-' | default: 'index' }}" class="yak-{{ page.layout }} yak-content pb5 mb3 lh-copy flex-auto">
				{{ content }}
			</article>

		</div>

		<footer class="bottom-0 ph3 ph5-l bt tc w-100">
			<small class="db tc mt3">The Yak Collective</small>
		
			{% comment %}
				Insert a random slogan into the footer. We do this
				twice; once here, and once using JavaScript (the very
				last line in this file). This ensures that nothing
				breaks if JavaScript is disabled in the user agent.
			{% endcomment %}
			{% assign random_slogan = site.data.slogans | sample: 1 %}
			<small class="db tc mt3"><a href="/tips.html" id="footer-slogan">{{ random_slogan }}</a></small>
				
			{% comment %}
				Output an RSS feed link, if applicable.
		
				We test on `rss_title` because this is only set if
				`rss_path` exists in `site.pages`, whereas `rss_path`
				itself may be left over from an earlier (failed) test.

				Both `rss_path` and `rss_title` are computed above in
				the `<head/>`.
			{% endcomment %}
			{% if rss_title %}
				<a class="yak-footer-square-link link dib f4 ma3" href="{{ rss_path }}" title="{{ rss_title }}"><i class="fas fa-rss-square"></i></a>
			{% endif %}
		
			<a class="yak-footer-square-link link dib f4 ma3" href="https://www.facebook.com/theyakcollective/" title="Facebook"><i class="fab fa-facebook-square"></i></a>
			<a class="yak-footer-square-link link dib f4 ma3" href="https://www.linkedin.com/company/yak-collective/" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
			<a class="yak-footer-square-link link dib f4 ma3" href="https://twitter.com/yak_collective" title="Twitter"><i class="fab fa-twitter-square"></i></a>
			<a class="yak-footer-square-link link dib f4 ma3" href="https://www.youtube.com/channel/UC9bngPbXMEZ8ivD1GHJ94aw" title="YouTube"><i class="fab fa-youtube-square"></i></a>
		</footer>

		<script defer src="/js/slogans.js"></script>

	</body>
</html>
