<!DOCTYPE html>

{% comment %}
	"Default" template for www.yakcollective.org, including HTML header,
	page navigation elements, and page footer. Intended to be called as
	a wrapper around more specialized templates.

	You probably want to use the "minimal" template, not this one.
{% endcomment %}

<html lang="en">
	<head>
		{% include head.html %}
		{% include analytics.html %}
	</head>

	<body class="w-100 ph0-l center relative h-100">
		<div class="fill-space">
			{% include nav.html %}
			<div id="{{ page.name }}" class="yak-content">
				{{ content }}
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
