<!DOCTYPE html>

{% comment %}
	"Default" template for yakcollective.org, including HTML header,
	page navigation elements, and page footer. Intended to be called as
	a wrapper around more specialized templates.
{% endcomment %}

<html lang="en" class="h-100">
	<head>
		{% include head.html %}
		{% include analytics.html %}
	</head>

	<body class="w-100 min-h-100 pa0 ma0 f4-l center relative flex flex-column">
		<div class="fill-space flex flex-auto flex-column">
			{% include nav.html %}
			<div class="column-background-wrapper w-100 h-100 fixed top-0 left-0"><div class="column-background h-100"></div></div>
			<article id="{{ page.url | replace: '/', ' ' | strip | replace: ' ', '-' | default: 'index' }}" class="yak-content pb5 mb3 lh-copy flex-auto">
				{{ content }}
			</article>
		</div>
		{% include footer.html %}
	</body>
</html>
