---
layout: page
---

{% comment %}
	Used for newsletters, cached member blog posts, and other pages
	imported from external systems. Doing this is necessary in order to
	insert a page title and wrap the content in a `<div/>` (so we can
	fix formatting weirdness in CSS).

	Header links back to the off-site page (if applicable).
{% endcomment %}

<h1>{% if page.original_link %}<a href="{{ page.original_link }}">{% endif %}{{ page.title }}{% if page.original_link %}</a>{% endif %}</h1>

<div class="yak-post">{{ content }}</div>
