---
layout: minimal
---

<section>
	<header>
		<h1>Partners</h1>
		{{ page.partners_blurb | markdownify }}
	</header>

	{% assign member_partners = site.members | where: "partner", true %}
	{% for member in member_partners %}
		{% assign member_uid = member.slug %}
		{% include member-card.html %}
	{% endfor %}
</section>

<section>
	<header>
		<h2 class="cf pt3">Collaborators</h2>
		{{ page.collaborators_blurb | markdownify }}
	</header>

	{% assign member_collaborators = site.members | where_exp: "member", "member.partner != true" %}
	{% for member in member_collaborators %}
		{% assign member_uid = member.slug %}
		{% include member-card.html %}
	{% endfor %}
</section>

<!-- {{ content }} -->
