<!DOCTYPE html>

{% comment %}
	"Default" template for yakcollective.org, including HTML header,
	page navigation elements, and page footer. Intended to be called as
	a wrapper around more specialized templates.
{% endcomment %}

<html lang="en">
	<head>
		{% include head.html %}
		{% include analytics.html %}
	</head>

	<body class="w-100 ph0-l f4-l center relative h-100">
		<div class="fill-space">
			{% include nav.html %}
			<div class="column-background-wrapper"><div class="column-background"></div></div>
			<article id="{{ page.url | replace: '/', ' ' | strip | replace: ' ', '-' | default: 'index' }}" class="yak-content pb5 mb3 lh-copy">
				{{ content }}

				{% comment %}
					If `page.author` is set, locate the appropriate
					member data page and display the member card (as
					well as the member `bio_short`, if it exists).
				{% endcomment %}
				{% if page.author %}
					{% assign author_url = "/members/" | append: page.author | append: "/" %}
					{% assign author = site.pages | find: "url", author_url %}
					{% if author %}
						<div class="mt4">{% include widget-member-card.html member=author %}</div>
						{% if author.bio_short %}
							<div class="author-bio">
								{{ author.bio_short | markdownify }}
							</div>
						{% endif %}
					{% endif %}
				{% endif %}

				{% comment %}
					If this is a project page, append the appropriate
					table of contents.
				{% endcomment %}
				{% assign path_array = page.url | replace: "/", " " | strip | split: " " %}
				{% if path_array[0] == "projects" and path_array.size >= 3 %}
					{% assign page_project = path_array[1] %}
					{% assign project_url = "/projects/" | append: page_project | append: "/" %}
					{% assign project_url_size = project_url.size %}
					{% assign project = site.pages | find: "url", project_url %}
						
					{% comment %}
						Build array of pages for this project.
					{% endcomment %}
					{% assign project_pages = "" | split: "" %}
					{% for the_page in site.pages %}
						{% if the_page.layout == "page" %}
							{% assign the_page_leader = the_page.url | slice: 0, project_url_size %}
							{% if the_page_leader == project_url and the_page.url.size > project_url_size %}
								{% unless the_page.hidden %}
									{% assign project_pages = project_pages | push: the_page %}
								{% endunless %}
							{% endif %}
						{% endif %}
					{% endfor %}
					{% assign project_pages = project_pages | sort: "url" | sort: "date" %}
			
					{% comment %}
						Project table of contents.
					{% endcomment %}
					<ul id="markdown-toc" class="mt4"><li>
						<a href="{{ project.url }}">{{ project.title }}</a>
						{% if project_pages.size > 0 %}
							<ul>
								{% assign site_epoch = site.time | date: "%s" | plus: 0 %}
								{% for pp in project_pages %}
									{% assign pp_epoch = pp.date | date: "%s" | plus: 0 %}
									<li{% if pp_epoch > site_epoch and site.future != true %} class="o-40"{% endif %}>{% if pp.url == page.url %}<strong>{% elsif pp_epoch <= site_epoch or site.future == true %}<a href="{% if pp.original_link %}{{ pp.original_link }}{% else %}{{ pp.url }}{% endif %}">{% endif %}{{ pp.title }}{% if pp.url == page.url %}</strong>{% elsif pp_epoch <= site_epoch or site.future == true %}</a>{% endif %}</li>
								{% endfor %}
							</ul>
						{% endif %}
					</li></ul>
				{% endif %}

			</article>
		</div>
		{% include footer.html %}
	</body>
</html>
