---
layout: default
---

{% comment %}
	"Idle Words" like slide layout.
{% endcomment %}

{% assign hero_image = page.hero_image %}
{% assign hero_position = page.hero_position %}
{% if page.hero_description %}
	{% assign hero_description = page.hero_description %}
{% else %}
	{% assign hero_description = page.title %}
{% endif %}
{% assign hero_caption = page.hero_caption %}
{% assign hero_border = page.hero_border %}
{% assign slide_align = page.slide_align %}
{% assign slide_id = page.url | replace: "/", " " | strip | replace: " ", "-" %}

{% capture the_content %}<div>
	<h1 class="slide-deck-visible-anchor">{{ page.title }}</h1>
	{% if page.date %}
		<time class="db small ttu tracked-tight">{{ page.date | date_to_long_string: "ordinal", "US" }}</time>
	{% endif %}
	{% if page.author %}
		{% assign member_url = "/members/" | append: page.author | append: "/" %}
		{% assign member = site.data.knack_yaks.records | find: "field_101_raw", page.author %}
		<p class="slide-author mv1 small ttu tracked-tight"><a href="{{ member_url }}">{{ member.field_97_raw | strip | replace: " ", "&nbsp;" }}</a></p>
	{% endif %}
	{% if page.tags %}
		{% assign last_tag = page.tags.last %}
		<p class="slide-tags mv1 small ttl tracked-tight">
			{% for tag in page.tags %}
				#{{ tag | replace: " ", "&nbsp;" }}{% unless tag == last_tag %},{% endunless %}
			{% endfor %}
		</p>
	{% endif %}
	{{ page.content | markdownify }}
</div>{% endcapture %}

{% include widget-slide.html
   hero_image=hero_image
   hero_position=hero_position
   hero_description=hero_description
   hero_caption=hero_caption
   hero_border=hero_border
   slide_content=the_content
   slide_separator=false
   slide_align=slide_align
   slide_id=slide_id
 %}

{% comment %}
	Slide navigation.
{% endcomment %}
{% comment %}
	Figure out the current project ID and project page.
{% endcomment %}
{% assign path_array = page.url | replace: "/", " " | strip | split: " " %}
{% assign project_id = path_array[1] %}
{% assign project_url = "/projects/" | append: project_id | append: "/" %}
{% assign project = site.pages | find: "url", project_url %}

{% comment %}
	Generate a list of project pages associated with the current
	project.
{% endcomment %}
{% assign project_slides = "" | split: "" %}
{% for the_page in site.pages %}
	{% if the_page.layout == "page-project-slide" %}
		{% assign path_array = the_page.url | replace: "/", " " | strip | split: " " %}
		{% if path_array[1] == project_id %}
			{% assign project_slides = project_slides | push: the_page %}
		{% endif %}
	{% endif %}
{% endfor %}
{% assign project_slides = project_slides | sort: "url" | sort: "date" %}

{% comment %}
	Find next and previous slides.
{% endcomment %}
{% assign current_slide_index = 0 %}
{% for the_slide in project_slides %}
	{% if the_slide.url == page.url %}
		{% break %}
	{% else %}
		{% assign current_slide_index = current_slide_index | plus: 1 %}
	{% endif %}
{% endfor %}
{% for the_slide in project_slides limit: current_slide_index %}
	{% unless the_slide.hidden %}
		{% assign previous_slide = the_slide %}
	{% endunless %}
{% endfor %}
{% assign next_slide_search_start = current_slide_index | plus: 1 %}
{% for the_slide in project_slides offset: next_slide_search_start %}
	{% unless the_slide.hidden %}
		{% assign next_slide = the_slide %}
		{% break %}
	{% endunless %}
{% endfor %}

<div class="slide-nav tc">
	{% if previous_slide %}<a href="{{ previous_slide.url }}" class="link{% else %}<span class="o-40{% endif %} dib f4 pa3" title="Previous"><i class="fas fa-arrow-left"></i>{% if previous_slide %}</a>{% else %}</span>{% endif %}
	<a href="{{ project.url }}" class="link dib f4 pa3" title="Project Page"><i class="fas fa-home"></i></a>
	{% if next_slide %}<a href="{{ next_slide.url }}" class="link{% else %}<span class="o-40{% endif %} dib f4 pa3" title="Next"><i class="fas fa-arrow-right"></i>{% if next_slide %}</a>{% else %}</span>{% endif %}
</div>
