---
layout: default
---

{% comment %}
	Template for individual member pages. Applied to data files from
	the `members` category.
{% endcomment %}

{% comment %}
	Pull in relevant member information from page properties.
{% endcomment %}
{% assign member_id = page.field_101_raw %}
{% assign member_url = "/members/" | append: member_id | append: ".html" %}
{% assign professional_name = page.field_97_raw | strip %}
{% assign tagline = page.field_41_raw | strip %}
{% assign currently = page.field_23_raw | strip %}
{% assign previously = page.field_42_raw | strip %}
{% assign url_1_label = page.field_65_raw.label | strip %}
{% assign url_1_url = page.field_65_raw.url | strip %}
{% assign url_2_label = page.field_66_raw.label | strip %}
{% assign url_2_url = page.field_66_raw.url | strip %}
{% assign url_3_label = page.field_67_raw.label | strip %}
{% assign url_3_url = page.field_67_raw.url | strip %}
{% assign twitter = page.field_43_raw | strip %}
{% assign background_info = page.field_32_raw | strip %}

{% comment %}
	People screw up their URLs all the time. Try to fix some common
	mistakes.
{% endcomment %}
{% assign url_label_start = url_1_label | downcase | slice: 0, 4 %}
{% assign url_start = url_1_url | downcase | slice: 0, 4 %}
{% if url_start != "http" %}
	{% if url_label_start == "http" %}
		{% assign url_temp = url_1_url %}
		{% assign url_1_url = url_1_label %}
		{% assign url_1_label = url_temp %}
	{% else %}
		{% assign url_1_url = "" %}
		{% assign url_1_label = "" %}
	{% endif %}
{% endif %}
{% if url_1_url != empty %}
	{% assign url_label_start = url_label | downcase | slice: 0, 4 %}
	{% assign url_1_url = url_1_url | downcase %}
	{% if url_label_start == "http" and url_1_label != url_1_url %}
		{% assign url_1_label = url_1_url %}
	{% elsif url_1_label == empty %}
		{% assign url_1_label = url_1_url %}
	{% endif %}
{% endif %}
{% assign url_label_start = url_2_label | downcase | slice: 0, 4 %}
{% assign url_start = url_2_url | downcase | slice: 0, 4 %}
{% if url_start != "http" %}
	{% if url_label_start == "http" %}
		{% assign url_temp = url_2_url %}
		{% assign url_2_url = url_2_label %}
		{% assign url_2_label = url_temp %}
	{% else %}
		{% assign url_2_url = "" %}
		{% assign url_2_label = "" %}
	{% endif %}
{% endif %}
{% if url_2_url != empty %}
	{% assign url_label_start = url_label | downcase | slice: 0, 4 %}
	{% assign url_2_url = url_2_url | downcase %}
	{% if url_label_start == "http" and url_2_label != url_2_url %}
		{% assign url_2_label = url_2_url %}
	{% elsif url_2_label == empty %}
		{% assign url_2_label = url_2_url %}
	{% endif %}
{% endif %}
{% assign url_label_start = url_3_label | downcase | slice: 0, 4 %}
{% assign url_start = url_3_url | downcase | slice: 0, 4 %}
{% if url_start != "http" %}
	{% if url_label_start == "http" %}
		{% assign url_temp = url_3_url %}
		{% assign url_3_url = url_3_label %}
		{% assign url_3_label = url_temp %}
	{% else %}
		{% assign url_3_url = "" %}
		{% assign url_3_label = "" %}
	{% endif %}
{% endif %}
{% if url_3_url != empty %}
	{% assign url_label_start = url_label | downcase | slice: 0, 4 %}
	{% assign url_3_url = url_3_url | downcase %}
	{% if url_label_start == "http" and url_3_label != url_3_url %}
		{% assign url_3_label = url_3_url %}
	{% elsif url_3_label == empty %}
		{% assign url_3_label = url_3_url %}
	{% endif %}
{% endif %}
{% assign twitter_start = twitter | slice: 0 %}
{% if twitter_start == "@" %}
	{% assign twitter = twitter | replace_first: "@", "" %}
{% endif %}

<div class="mb3 flex items-top">
	<div class="w3 w4-l mr3 mr4-l h1-image">
		<img class="w3 w4-l h3 h4-l br-100 ba image-border" src="/members/{{ member_id }}.webp" alt="{{ professional_name }}">
	</div>

	<div class="no-bottom-margin">
		<h1>{{ professional_name }}</h1>

		{% if tagline != empty %}
			<small class="db"><p>{{ tagline }}</p></small>
		{% endif %}

		{% if currently != empty or previously != empty %}
			{% if currently != empty %}
				<small class="db"><b>Currently:</b> {{ currently }}</small>
			{% endif %}
			{% if previously != empty %}
				<small class="db"><b>Previously:</b> {{ previously }}</small>
			{% endif %}
		{% endif %}
	</div>
</div>

{% if background_info != empty %}
	{{ background_info | markdownify }}
{% endif %}

{% if url_1_url != empty or twitter != empty %}
	<ul>
		{% if url_1_url != empty %}
			<li><a href="{{ url_1_url }}">{{ url_1_label }}</a></li>
		{% endif %}
		{% if url_2_url != empty %}
			<li><a href="{{ url_2_url }}">{{ url_2_label }}</a></li>
		{% endif %}
		{% if url_3_url != empty %}
			<li><a href="{{ url_3_url }}">{{ url_3_label }}</a></li>
		{% endif %}
		{% if twitter != empty %}
			<li><a href="https://twitter.com/{{ twitter }}">@{{ twitter }} on Twitter</a></li>
		{% endif %}
	</ul>
{% endif %}

{% comment %}
	Generate a list of projects that the current member (1) was a lead
	on or (2) was a collaborator on.
{% endcomment %}
{% assign projects = site.pages | where: "layout", "page-project"
								| where_exp: "project", "project.date < site.time or site.future == true" %}
{% assign projects_lead = "" | split: "" %}
{% assign projects_collaborated = "" | split: "" %}
{% for project in projects %}
	{% if project.credits %}
		{% if project.credits.lead_editors %}
			{% if project.credits.lead_editors contains member_id %}
				{% assign projects_lead = projects_lead | push: project %}
			{% endif %}
		{% endif %}
		{% for credits_block in project.credits %}
			{% if credits_block[1].size > 0 and credits_block[0] != "lead_editors" %}
				{% if credits_block[1] contains member_id %}
					{% unless projects_lead contains project %}
						{% assign projects_collaborated = projects_collaborated | push: project %}
					{% endunless %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
{% assign projects_lead = projects_lead | uniq | sort: "date" | reverse %}
{% assign projects_collaborated = projects_collaborated | uniq | sort: "date" | reverse %}

{% comment %}
	Output the `projects_lead` and `projects_collaborated` arrays.
{% endcomment %}
{% if projects_lead.size > 0 %}
	<h2 id="project-lead">Project Lead On</h2>
	{% for project in projects_lead %}
		{% assign project_id = project.name | replace: ".md", "" | replace: ".html", "" %}
		{% include widget-project-box.html project=project_id %}
	{% endfor %}
{% endif %}
{% if projects_collaborated.size > 0 %}
	<h2 id="collaborator">Collaborated On</h2>
	{% for project in projects_collaborated %}
		{% assign project_id = project.name | replace: ".md", "" | replace: ".html", "" %}
		{% include widget-project-box.html project=project_id %}
	{% endfor %}
{% endif %}

{% comment %}
	Include any writings for the current member.

	Note that, since the post list widget only outputs Markdown, we
	can't include it directly. Instead, we capture its output and then
	transform it into HTML using `markdownify`.
{% endcomment %}
{% assign num_writings = site.categories["writings"] | where: "author", member_id | size %}
{% if num_writings > 0 %}
	<h2 id="writings">Writings</h2>
	{% capture member_writings %}{% include widget-post-list.md init_header_level=3 show_date=true show_author=false author=member_id category="writings" %}{% endcapture %}
	{{ member_writings | markdownify }}
{% endif %}
