---
layout: default
---

{% comment %}
	Template for individual member pages; inherits from the "page"
	template. Applied to data files from the `members` category.
{% endcomment %}

<h1>{{ page.title }}</h1>

{% comment %}
	Generate the `member_id`. We'll need it later.
{% endcomment %}
{% assign member_id = page.url | replace: "/", " " | strip | split: " " | last %}

{% comment %}
	Pull in the member card (which functions as an information box
	here, rather than a link).
{% endcomment %}
{% include widget-member-card.html standalone=true member=page %}

{{ content }}

{% comment %}
	Generate a list of projects that the current member (1) was a lead
	on or (2) was a collaborator on.
{% endcomment %}
{% assign projects = site.pages | where: "layout", "page-project"
								| where_exp: "project", "project.date < site.time or site.future == true" %}
{% assign projects_lead = "" | split: "" %}
{% assign projects_collaborated = "" | split: "" %}
{% for project in projects %}
	{% if project.credits %}
		{% if project.credits.lead_editors %}
			{% if project.credits.lead_editors contains member_id %}
				{% assign projects_lead = projects_lead | push: project %}
			{% endif %}
		{% endif %}
		{% for credits_block in project.credits %}
			{% if credits_block[1].size > 0 and credits_block[0] != "lead_editors" %}
				{% if credits_block[1] contains member_id %}
					{% unless projects_lead contains project %}
						{% assign projects_collaborated = projects_collaborated | push: project %}
					{% endunless %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
{% assign projects_lead = projects_lead | uniq | sort: "date" | reverse %}
{% assign projects_collaborated = projects_collaborated | uniq | sort: "date" | reverse %}

{% comment %}
	Output the `projects_lead` and `projects_collaborated` arrays.
{% endcomment %}
{% if projects_lead.size > 0 %}
	<h2 id="project-lead">Project Lead On</h2>
	{% for project in projects_lead %}
		{% include widget-project-box.html project=project %}
	{% endfor %}
{% endif %}
{% if projects_collaborated.size > 0 %}
	<h2 id="collaborator">Collaborated On</h2>
	{% for project in projects_collaborated %}
		{% include widget-project-box.html project=project %}
	{% endfor %}
{% endif %}

{% comment %}
	Include any writings for the current member.

	Note that, since the post list widget only outputs Markdown, we
	can't include it directly. Instead, we capture its output and then
	transform it into HTML using `markdownify`.
{% endcomment %}
{% assign num_writings = site.categories["writings"] | where: "author", member_id | size %}
{% if num_writings > 0 %}
	<h2 id="writings">Writings</h2>
	{% capture member_writings %}{% include widget-post-list.md init_header_level=3 show_author=false author=member_id category="writings" %}{% endcapture %}
	{{ member_writings | markdownify }}
{% endif %}
