---
layout: default
---

{% assign member_id = page.field_101_raw %}
{% assign avatar_url = page.field_44_raw.url | strip %}
{% assign professional_name = page.field_97_raw | strip %}
{% assign tagline = page.field_41_raw | strip %}
{% assign current = page.field_23_raw | strip %}
{% assign previously = page.field_42_raw | strip %}
{% assign twitter = page.field_43_raw | strip %}
{% assign url_1_label = page.field_65_raw.label | strip %}
{% assign url_1_url = page.field_65_raw.url | strip %}
{% assign url_2_label = page.field_66_raw.label | strip %}
{% assign url_2_url = page.field_66_raw.url | strip %}
{% assign url_3_label = page.field_67_raw.label | strip %}
{% assign url_3_url = page.field_67_raw.url | strip %}
{% assign background_info = page.field_32_raw | strip %}

{% assign url_temp = url_1_label | slice: 0, 4 %}
{% if url_temp == "http" %}
	{% assign url_temp = url_1_url %}
	{% assign url_1_url = url_1_label %}
	{% assign url_1_label = url_temp %}
{% endif %}

{% assign url_temp = url_2_label | slice: 0, 4 %}
{% if url_temp == "http" %}
	{% assign url_temp = url_2_url %}
	{% assign url_2_url = url_2_label %}
	{% assign url_2_label = url_temp %}
{% endif %}

{% assign url_temp = url_3_label | slice: 0, 4 %}
{% if url_temp == "http" %}
	{% assign url_temp = url_3_url %}
	{% assign url_3_url = url_3_label %}
	{% assign url_3_label = url_temp %}
{% endif %}

<img class="w3 h3 br-100 ba image-border"
     src="{% if avatar_url != "" %}{{ avatar_url
                | remove: "https://s3-eu-west-1.amazonaws.com/assets.knack-eu.com/assets/5f70876d8e7037001504bfe8/"
                | prepend: "https://res.cloudinary.com/yak-collective/image/upload/c_fill,g_face,h_180,w_180,e_sharpen:50/yak-barn-v1/" }}{% else %}/img/member.jpg{% endif %}"
     alt="{{ professional_name | smartify | normalize_whitespace }}" />
<br />
<pre>
MEMBER ID
{{ member_id }}

PROFESSIONAL NAME
{% if professional_name != "" %}{{ professional_name | smartify | normalize_whitespace | xml_escape }}{% else %}-{% endif %}

TAGLINE
{% if tagline != "" %}{{ tagline | smartify | normalize_whitespace | xml_escape }}{% else %}-{% endif %}

CURRENT
{% if current != "" %}{{ current | smartify | normalize_whitespace | xml_escape }}{% else %}-{% endif %}

PREVIOUSLY
{% if previously != "" %}{{ previously | smartify | normalize_whitespace | xml_escape }}{% else %}-{% endif %}

TWITTER
{% if twitter != "" %}https://twitter.com/{{ twitter | remove: "http://twitter.com/"
	| remove: "https://twitter.com/"
	| remove: "http://www.twitter.com/"
	| remove: "https://www.twitter.com/"
	| remove: "@" | uri_escape }}{% else %}-{% endif %}

URL 1
{% if url_1_label != "" %}{{ url_1_label | smartify | normalize_whitespace | xml_escape }} - {{ url_1_url | uri_escape }}{% else %}-{% endif %}

URL 2
{% if url_2_label != "" %}{{ url_2_label | smartify | normalize_whitespace | xml_escape }} - {{ url_2_url | uri_escape }}{% else %}-{% endif %}

URL 3
{% if url_3_label != "" %}{{ url_3_label | smartify | normalize_whitespace | xml_escape }} - {{ url_3_url | uri_escape }}{% else %}-{% endif %}

BACKGROUND INFO
{% if background_info != "" %}{{ background_info | smartify | normalize_whitespace | xml_escape }}{% else %}-{% endif %}
</pre>
