<!DOCTYPE html>

{% comment %}
	"Default" template for yakcollective.org, including HTML header,
	page navigation elements, and page footer. Intended to be called as
	a wrapper around more specialized templates.
{% endcomment %}

<html lang="en">
	<head>
		{% include head.html %}
		{% include analytics.html %}
	</head>

	<body class="w-100 ph0-l center relative h-100">
		<div class="fill-space">
			{% include nav.html %}
			<div id="{{ page.url | replace: '/', ' ' | strip | replace: ' ', '-' | default: 'index' }}" class="yak-content pb5 f4-l lh-copy">
				{{ content }}
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
