{% include head.html %}

<article class="container mw7 cf pv5 f4-l center w-90 lh-copy">
	<header>
		<h1 class="yak-post">{% if page.original_link %}<a href="{{ page.original_link }}">{% endif %}{{ page.title }}{% if page.original_link %}</a>{% endif %}</h1>

		{% assign member_uid = page.author %}
		{% capture member_id %}/members/{{ member_uid }}{% endcapture %}
		{% assign member_data = site.categories["members"] | where: "id", member_id %}
		{% assign member = member_data[0] %}
		{% include member-card.html %}
	</header>

	<div class="yak-post">{{ content }}</div>
</article>

{% include footer.html %}
