---
layout: page
---

{% comment %}
	Used for normal "posts," which right now mean cached newsletters and
	member blog posts (a.k.a. "writings").

	Provides a header linking back to the original post + a member card
	with information about the Yak Collective member who authored the
	post.
{% endcomment %}

<h1>{% if page.original_link %}<a href="{{ page.original_link }}">{% endif %}{{ page.title }}{% if page.original_link %}</a>{% endif %}</h1>

<div class="yak-post">{{ content }}</div>

{% comment %}
	If `page.author` is set, build our member list, locate the
	appropriate member data page, and display the member card.
{% endcomment %}
{% if page.author %}
	{% assign members = "" | split: "" %}
	{% for the_page in site.pages %}
		{% assign path_array = the_page.url | replace: "/", " " | strip | split: " " %}
		{% assign path_init = path_array | first %}
		{% assign path_size = path_array | size %}
		{% if path_init == "members" and path_size == 2 %}
			{% assign members = members | push: the_page %}
		{% endif %}
	{% endfor %}
	{% assign author_file = page.author | append: ".md" %}
	{% assign member = members | where: "name", author_file | first %}
	{% include widget-member-card.html member=member %}
{% endif %}
