---
layout: page
---

{% comment %}
	Used for normal "posts," which right now mean cached newsletters and
	member blog posts (a.k.a. "writings").

	Provides a header linking back to the original post + a member card
	with information about the Yak Collective member who authored the
	post.
{% endcomment %}

<h1>{% if page.original_link %}<a href="{{ page.original_link }}">{% endif %}{{ page.title }}{% if page.original_link %}</a>{% endif %}</h1>

<div class="yak-post">{{ content }}</div>

{% if page.author %}
	{% assign member = site.members | where: "name", page.author | first %}
	{% include widget-member-card.html member=member %}
{% endif %}
