---
layout: page
---

{% comment %}
	Used for project pages.

	If applicable, prepend a header linking back to the off-site page +
	a member card providing information about the Yak Collective member
	who authored the page.

	Finally, appendprend a navigation tree of all project pages with
	`display: true`. If no such pages exist, this just serves as a link
	to return to the original project.
{% endcomment %}

<h1>{% if page.original_link %}<a href="{{ page.original_link }}">{% endif %}{{ page.title }}{% if page.original_link %}</a>{% endif %}</h1>

{{ content }}

{% comment %}
	If `page.author` is set, build our member list, locate the
	appropriate member data page, and display the member card (as well
	as the member `short_bio`, if it exists).
{% endcomment %}
{% if page.author %}
	{% assign members = "" | split: "" %}
	{% for the_page in site.pages %}
		{% assign path_array = the_page.url | replace: "/", " " | strip | split: " " %}
		{% assign path_init = path_array | first %}
		{% assign path_size = path_array | size %}
		{% if path_init == "members" and path_size == 2 %}
			{% assign members = members | push: the_page %}
		{% endif %}
	{% endfor %}
	{% assign author_file = page.author | append: ".md" %}
	{% assign member = members | where: "name", author_file | first %}
	{% include widget-member-card.html member=member %}
	{% if member.short_bio %}
		<div class="f6 ph2 pb1">
			{{ member.short_bio | markdownify }}
		</div>
	{% endif %}
{% endif %}

<ul class="toc"><li>
	{% assign project = site.projects | where: "name", page.project | first %}
	<a href="/projects/{{ project.name }}/">{{ project.title }}</a>

	{% comment %}
		FIXME: The code below for determining the list of project pages
		to display is identical in all essential ways to the project
		page display code in `project.html`, and should be abstracted.
	{% endcomment %}
	{% assign project_pages = site.project_pages | where: "project", project.name | where: "display", true %}
	{% if project_pages.size > 0 %}
		{% assign test_pp = project_pages[1] %}
		{% if test_pp.date %}
			{% assign sorted_project_pages = project_pages | sort: "date" %}
		{% else %}
			{% assign sorted_project_pages = project_pages | sort: "name" %}
		{% endif %}
		<ul>
			{% assign site_epoch = site.time | date: "%s" %}
			{% for pp in sorted_project_pages %}
				{% assign pp_epoch = include.pp.date | date: "%s" %}
				<li>{% if pp.name == page.name %}<strong>{% elsif pp_epoch <= site_epoch or site.future == true %}<a href="{% if pp.original_link %}{{ pp.original_link }}{% else %}{{ pp.permalink }}{% endif %}">{% endif %}{{ pp.title }}{% if pp.name == page.name %}</strong>{% elsif pp_epoch <= site_epoch or site.future == true %}</a>{% endif %}</li>
			{% endfor %}
		</ul>
	{% endif %}
</li></ul>
