---
layout: minimal
---

<header>
	{{ content }}
</header>
{% assign published_projects = site.projects | where_exp: "project", "project.date <= site.time or site.future == true" | reverse %}
{% assign upcoming_projects = site.projects | where_exp: "project", "project.date > site.time and site.future == false" | reverse %}
<section>
	<header><h2>Latest Projects</h2></header>
	{% for project in published_projects limit: 3 %}
		{% include project-box.html %}
	{% endfor %}
</section>
{% if upcoming_projects.size > 0 %}
	<section>
		<header><h2>Upcoming Projects</h2></header>
		{% for project in upcoming_projects %}
			{% include project-box.html %}
		{% endfor %}
	</section>
{% endif %}
{% if published_projects.size > 3 %}
	<section>
		<header><h2>Past Projects</h2></header>
		{% for project in published_projects offset: 3 %}
			{% include project-box.html %}
		{% endfor %}
	</section>
{% endif %}
