---
layout: default
---
<article class="yak-project">
	<header class="yak-project-header {{ page.slug }}-hero">
		<div class="h-25 w-100 center pa3 mw9 center">
			<div class="cf ph3 ph5-ns pv5-l pv3">
				<aside class="fn fl-ns w-25-ns pr4-ns pl4-ns">
					<div class="f5 lh-title fw9 mb3 mt0 pt3 bt bw2 sans-serif ttu">{{ page.type }}</div>
					<time class="f6 ttu tracked-tight gray">
						{{ page.date | date_to_long_string: "ordinal", "US" }} UTC
						<!-- After: https://stackoverflow.com/a/61051707 -->
						{% if page.sequence %}
							{% assign sequence_def = site.data.sequences[page.sequence] %}
							{% assign sequence_start = sequence_def.start_date | date: "%s" %}
							<br>Day {{ page.date | date: "%s" | minus: sequence_start | divided_by: 3600 | divided_by: 24 | round }} {{ sequence_def.count_phrase }}
						{% endif %}
					</time>
					<p>
						<span class="ttu f6 lh-title">Lead editors:</span><br>
						{% assign lead_editors = page.lead_editors %}
						{% assign total_editors = lead_editors.size %}
						{% if total_editors == 1 %}
							{% assign editor = site.members | where: "slug", lead_editors[0] | first %}
							<a class="link dim" href="/members/{{ editor.slug }}">{{ editor.title }}</a>
						{% elsif total_editors == 2 %}
							{% assign first_editor = site.members | where: "slug", lead_editors[0] | first %}
							{% assign second_editor = site.members | where: "slug", lead_editors[1] | first %}
							<a class="link dim" href="/members/{{ first_editor.slug }}">{{ first_editor.title }}</a> &amp; <a class="link dim" href="/members/{{ second_editor.slug }}">{{ second_editor.title }}</a>
						{% else %}
							{% assign last_editor = lead_editors.last %}
							{% for lead_editor in lead_editors %}
								{% assign editor = site.members | where: "slug", lead_editor | first %}
								<a class="link dim" href="/members/{{ editor.slug }}">{{ editor.title }}</a>{% if lead_editor != last_editor %}, {% endif %}
							{% endfor %}
						{% endif %}
					</p>
					<p class="gray">
						<span class="ttu f6 lh-title">Collaborators:</span>
						<span class="dn-l expand">+ expand</span><br>
						<span class="dn db-l collablist">
							{% assign collaborators = page.collaborators %}
							{% assign total_collaborators = collaborators.size %}
							{% if total_collaborators == 1 %}
								{% assign collaborator = site.members | where: "slug", collaborators[0] | first %}
								<a class="link dim gray" href="/members/{{ collaborator.slug }}">{{ collaborator.title }}</a>
							{% elsif total_collaborators == 2 %}
								{% assign first_collaborator = site.members | where: "slug", collaborators[0] | first %}
								{% assign second_collaborator = site.members | where: "slug", collaborators[1] | first %}
								<a class="link dim gray" href="/members/{{ first_collaborator.slug }}">{{ first_collaborator.title }}</a> &amp; <a class="link dim gray" href="/members/{{ second_collaborator.slug }}">{{ second_collaborator.title }}</a>
							{% else %}
								{% assign last_collaborator = collaborators.last %}
								{% for collaborator_uid in collaborators %}
									{% assign collaborator = site.members | where: "slug", collaborator_uid | first %}
									<a class="link dim gray" href="/members/{{ collaborator.slug }}">{{ collaborator.title }}</a>{% if collaborator_uid != last_collaborator %}, {% endif %}
								{% endfor %}
							{% endif %}
						</span>
					</p>
				</aside>
				<div class="fn fl-ns w-50-ns pl4-ns">
					<h1 class="ma0 pa0 fw8 f1">{{ page.title }}</h1>
					<div class="subhead pt3 pb1 fw4 f3">{{ page.tagline }}</div>
					<div class="f5 lh-copy pb5">{{ page.summary | markdownify }}</div>
				</div>
			</div>

			<script>
				$( ".expand" ).click(function() {
					$(".collablist").toggle();
					if ($(".expand").text() == "+ expand") {
						$(".expand").text("- close"); 
					} else if ($(".expand").text() == "- close") {
						$(".expand").text("+ expand"); 
					}
				});
			</script>
		</div>
	</header>

	<div class="container mw7 cf pv5 f4-l center w-90 lh-copy">{{ content }}</div>
</article>
