{% include head.html %}

{% include nav.html %}

<div class="bg-yak-wisdom">

<div class="h-25 w-100 center pa3">

    <article class="cf ph3 ph5-ns pv5">
        <header class="fn fl-ns w-25-ns pr4-ns pl4-ns">
          <div class="f5 lh-title fw9 mb3 mt0 pt3 bt bw2">
            REPORT
        </div>
          <time class="f6 ttu tracked gray">{{page.date | newline_to_br}}</time>
          <p><span class="ttu f6 lh-title">Lead editors:</span><br>{{page.authors}}</p>
          <p><span class="ttu f6 lh-title">Collaborators:</span><br>{{page.collaborators}}</p>
        </header>
        <div class="fn fl-ns w-50-ns">
          <h1 class="ma0 pa0 fw8 f1">
            {{page.title}}
            </h1>
            <h2>{{page.subtitle}}</h2>
          <p class="f5 lh-copy measure">
            {{page.intro | newline_to_br}}
          </p>
        </div>
      </article>
      

</div>

</div>

<div class="container mw7 cf pv5 f4-l center w-90 lh-copy">

{{content}}

</div>