{% include head.html %}

{% include nav.html %}

<div class="bg-light-grey h-25 w-100 center pa3">

    <article class="cf ph3 ph5-ns pv5">
        <header class="fn fl-ns w-25-ns pr4-ns">
          <div class="f4 lh-title fw9 mb3 mt0 pt3 bt bw2">
            REPORT
        </div>
          <time class="f6 ttu tracked gray">April 30th, 2020 UTC / Day 45 Pandemic Mean Time</time>
        </header>
        <div class="fn fl-ns w-50-ns">
          <h1 class="ma0 pa0">
            {{page.title}}
            </h1>
          <p class="f5 lh-copy measure">
            Compiled by the Yak Collective, a group of independent consultants and gig workers taking the new normal approach to trends and insights - threading the needle on sensemaking in times of uncertainty.
          </p>
        </div>
      </article>
      

</div>

<div class="mt6 w-100 h2"></div>

{{content}}