:root {
	--content-width: 36rem;
	--content-padding: 1.25rem;
}

.yak-content .left-box,
.yak-content .right-box {
	display: block;
	width: calc(
		(
			100% - min(
				var(--content-width),
				100% - (2 * var(--content-padding))
			) + min(
				var(--content-width) / 2,
				50% - (2 * var(--content-padding))
			)
		) / 2
	);
	min-width: min(
		(var(--content-width) / 2) + (2 * var(--content-padding)),
		100%
	);
	margin-top: calc(-0.75 * var(--content-padding));
	margin-bottom: calc(-0.5 * var(--content-padding));
}

.yak-content .left-box .box-interior,
.yak-content .right-box .box-interior {
	width: min(
		(var(--content-width) / 2) + (2 * var(--content-padding)),
		100%
	);
	padding: var(--content-padding);
}

.yak-content .left-box {
	float: left;
}

.yak-content .left-box .box-interior {
	float: right;
}

.yak-content .right-box {
	float: right;
}

.yak-content .right-box .box-interior {
	float: left;
}

/* Copied from: https://css-tricks.com/scaled-proportional-blocks-with-css-and-javascript/ */
.pdf-slideshow {
	padding-bottom: calc(56.25% + 50px); /* 16:9 + PDF controls */
}

#pdf-slideshow figcaption {
	display: none;
}
